[2019-03-19 10:21] StephanEggermont opened #2903 "TextPresenter does not support keystroke based focus on next (17789)"
TextPresenter>>eventKeyStrokesForNextFocus
    "String describing the keystroke to perform to jump to the next widget"
    ^ { Character arrowRight command ctrl asKeyCombination }

That key combination is not available on Ubuntu (it switches the window to use the right half of the screen)

https://pharo.fogbugz.com/f/cases/17789/TextModel-does-not-support-keystroke-based-focus-on-next

[2019-03-19 10:26] StephanEggermont opened #2904 "Rubric duplication of Morphs is broken (16612)"
Henrik wrote in a thread on RubAbstractTextArea copying in pharo-dev:

"It does not seem that RubScrolledTextMorph supports duplication/copy (tried to duplicate one from nautilus code area and the same clear all code happened. Trying to duplicate a Playground just freezes the image (might be some circular references that is not handled when copying ))."

In my image, it freezes for several seconds

[2019-03-19 10:28] StephanEggermont commented on #2904
Here is a fun example:

| m main dup |

m := RubScrolledTextModel new newScrolledText beWrapped.

m
beWrapped;
withLineNumbers;
withoutAdornment;
beForSmalltalkScripting.

main := m openInWindow.
main extent: 400@400.
main setLabel: 'Main'.

main position: 20@20.

dup := main duplicate.

dup openInWorld.
dup position: 440@20.
dup setLabel: 'Duplicate'.

Write something in the main window. then sel

[2019-03-19 10:28] StephanEggermont commented on #2895
Blocked by Issue #2904

[2019-03-19 10:35] StephanEggermont commented on #2904
Ownership is not handled correctly, leading to all kinds of problems

[2019-03-19 10:37] StephanEggermont commented on #2717
Blocked by Issue #2904

[2019-03-19 10:57] StephanEggermont commented on #2904
Might also be related to Issue #2904

[2019-03-19 11:15] StephanEggermont commented on #2343
When I start the image with a Squeak vm from the 64 bit 5.2, dated 2018-12-14 (download today from squeak.org), I can correctly toggle fullscreen mode, by repeatedly doing: Display toggleFullscreen.

Nobody ever responded to my question if http://forum.world.st/commit-3686-Tobias-Bert-Change-fullscreen-behavior-of-Cocoa-VMs-td4892397.html is relevant for this

[2019-03-19 11:30] StephanEggermont commented on #2842
Blocked on Issue #2904

[2019-03-19 11:34] plantec commented on #2904
Morph duplication is a mess and should be deprecated

[2019-03-19 11:42] StephanEggermont commented on #2904
Morphs can be duplicated. That is essential behavior. Where it fails, ownership is incorrect.

[2019-03-19 11:44] #2901 closed, assigned to MarcusDenker

[2019-03-19 11:58] plantec commented on #2904
maybe at the level of simple graphic objets such as Morph, CircleMorph, or a little bit more complex morph. But at the level of a widget, why it is essential ?
In my opinion it does not make sense as a general and as a systematic expectation.  deep copy, very deep copy and co are not maintainable. A widget should be allowed to forbid duplication  for itself. This is already the case, at least for

[2019-03-19 12:47] MarcusDenker commented on #2864
a question, too, is if we should not move that API to the method.

why have

Behavior commentsAt: #commentsAt:

if you can just do

(Behavior>>#commentsAt:) comments at:

?

To me that is much more object oriented

[2019-03-19 12:48] MarcusDenker commented on #2864
e.g. instead of firstCommentAt: with that it would be

(Behavior>>#commentsAt:) comments first

no special method needed

[2019-03-19 13:23] StephanEggermont commented on #2904
That's fine for certain specific (or abstract) morphs. It is certainly wrong for widgets. I might have to choose to break linking to a model, but the copying needs to work. That is the whole purpose of morphs

[2019-03-19 13:25] VincentBlondeau commented on #2886
For example:

![HsxxhQNOhu](https://user-images.githubusercontent.com/4706329/54609255-def6ca00-4a52-11e9-8ba7-4582dea3d995.gif)

[2019-03-19 13:30] VincentBlondeau opened #2907 "Switching in the method stack of the debugger make one loose code (22484)"
![2018-09-24_15-36-51](https://user-images.githubusercontent.com/4706329/54609661-b7543180-4a53-11e9-8319-741545bc2a9c.gif)

Suggested by @jecisc : I imagine we should pop a window "You will lose your current changes. Continue? Yes/No"

[2019-03-19 13:35] VincentBlondeau opened #2908 "deprecate on:send:to: and use when:send:to: (4399, 5087, 16740)"
![image](https://user-images.githubusercontent.com/4706329/54609970-49f4d080-4a54-11e9-932d-43af3f4267c0.png)

http://www.mail-archive.com/pharo-project@lists.gforge.inria.fr/msg49343.html

[2019-03-19 13:47] #2889 closed, assigned to pavel-krivanek

[2019-03-19 14:14] VincentBlondeau opened #2909 "Spotter should allow to open a new window for a whole category"
for example: #Implementors or #Senders

Because you cannot edit the method in the submenu, there is no syntax highlighting and you do have the preview of the source code when you click on it (you have to click on the small narrow arrow)
![WD5UdbDTRh](https://user-images.githubusercontent.com/4706329/54612718-c0480180-4a59-11e9-8649-5ff73fd7479c.gif)

[2019-03-19 14:28] VincentBlondeau opened #2910 "libcairo.so.2 is not present in the dependencies list"
Migrated case from Manuscript.

Original case: https://pharo.fogbugz.com/f/cases/21986
Status: Work Needed
Project: Websites
Original Author: Vincent Blondeau
Date: 25 May 2018 7:40:07 pm

Description:

On Xubuntu (64 bit) with a 32 image, The change sorter, World Menu -> Tools -> Change Sorter, throw this error:

The lib missing is libcairo.so.2 for 32 bits (not in the VM folder nor installed by

[2019-03-19 14:29] VincentBlondeau opened #2911 "Should on:send:to: methods have to be remplaced by when:send:to: in the whole image for consistency?"
Migrated case from Manuscript.

Original case: https://pharo.fogbugz.com/f/cases/16740
Status: Resolved (Moved to GitHub)
Project: Events and Announcements
Original Author: Vincent Blondeau
Date: 7 October 2015 3:18:14 pm

Description:

Related to Case 16519 where the on:send:to: methods have been deprecated in WeakSubscriptionBuilder and Announcer. The new version is when:send:to:.

Does it shoul

[2019-03-19 14:29] VincentBlondeau commented on #2911
Reply:
Author: Henrik Nergaard
Date: 7 October 2015 4:00:07 pm

Message:

Related: Case 5087 .

[2019-03-19 14:29] VincentBlondeau commented on #2911
Reply:
Author: CyrilFerlicot
Date: 23 March 2016 9:02:21 am

Message:

on:send:to: will be deprecated in Pharo 6

[2019-03-19 14:29] VincentBlondeau commented on #2911
Reply:
Author: Pavel Krivanek
Date: 27 January 2017 9:48:50 am

Message:

Low priority issue. Not for Pharo 6. The milestone "Later" was set automatically.

[2019-03-19 14:29] VincentBlondeau commented on #2911
Reply:
Author: Jhonny Cerezo
Date: 29 June 2018 5:07:36 pm

Message:

"Does it should be deprecated too in ComposableModel, Morph, .... ?" We tried to override the method Object>>#when:send:to: in the class Morph to make it work, and it breaks the image. This refactoring is not trivial. Do we have to change all senders of Morph>>#on:send:method to use the method Object>>#when:send:to:?
We need to

[2019-03-19 14:29] VincentBlondeau commented on #2911
Reply:
Author: Vincent Blondeau
Date: 19 March 2019 1:36:35 pm

Message:

https://github.com/pharo-project/pharo/issues/2908

[2019-03-19 14:30] VincentBlondeau opened #2912 "Switching in the method stack of the debugger make one loose code"
Migrated case from Manuscript.

Original case: https://pharo.fogbugz.com/f/cases/22484
Status: Resolved (Moved to GitHub)
Project: Debugging
Original Author: Vincent Blondeau
Date: 24 September 2018 10:38:20 pm

Description:

See gif in attachment

[2019-03-19 14:30] VincentBlondeau commented on #2912
Reply:
Author: Pavel Krivanek
Date: 28 September 2018 8:52:44 am

Message:

Already in Pharo 6

[2019-03-19 14:30] VincentBlondeau commented on #2912
Reply:
Author: CyrilFerlicot
Date: 5 October 2018 8:53:24 am

Message:

Should we keep this issue for Pharo 7 or move to 8?

[2019-03-19 14:30] VincentBlondeau commented on #2912
Reply:
Author: Pavel Krivanek
Date: 5 October 2018 9:42:01 am

Message:

It depends if it will be fixed and how.
The fact that it is an old issue just lowers its priority. It is not critical for the release

[2019-03-19 14:30] VincentBlondeau commented on #2912
Reply:
Author: CyrilFerlicot
Date: 5 October 2018 9:26:13 pm

Message:

For the "how" I imagine we should pop a window "You will lose your current changes. Continue? Yes/No"

[2019-03-19 14:30] VincentBlondeau commented on #2912
Reply:
Author: Vincent Blondeau
Date: 22 November 2018 12:15:37 am

Message:

I agree on the how of Cyril!

[2019-03-19 14:30] VincentBlondeau commented on #2912
Reply:
Author: CyrilFerlicot
Date: 7 January 2019 4:20:01 pm

Message:

Too late for P8.

[2019-03-19 14:30] VincentBlondeau opened #2913 "Catalog: contextual menu does not work when mouse cursor is on the tags"
Migrated case from Manuscript.

Original case: https://pharo.fogbugz.com/f/cases/19274
Status: Work Needed
Project: Tools
Original Author: Vincent Blondeau
Date: 2 November 2016 1:21:40 pm

Description:

Here for example :

[2019-03-19 14:30] VincentBlondeau commented on #2913
Reply:
Author: Pavel Krivanek
Date: 27 January 2017 1:32:33 pm

Message:

Low priority issue. Not for Pharo 6. The milestone "Later" was set automatically.

[2019-03-19 14:30] VincentBlondeau commented on #2913
Reply:
Author: Vincent Blondeau
Date: 28 September 2018 5:14:56 pm

Message:

Not fixed in Pharo 7 build 1276 (sha 6c09bd4)

[2019-03-19 14:30] VincentBlondeau commented on #2913
Reply:
Author: Stephane Ducasse
Date: 8 January 2019 1:28:47 pm

Message:

It can be something for new spec.

[2019-03-19 14:31] VincentBlondeau opened #2914 "Under Windows the key to remove a word is not SHIFT+Backspace but CTRL + Backspace"
Migrated case from Manuscript.

Original case: https://pharo.fogbugz.com/f/cases/13882
Status: Work Needed
Project: Keymapping
Original Author: Vincent Blondeau
Date: 21 August 2014 4:30:15 pm

Description:

When you want to remove a word from an editor, the current Pharo keybinding is Shift+BackSpace and Shift+Suppr. But the default Windows binding is Ctrl+BackSpace and CtrlShift+Suppr.

[2019-03-19 14:31] VincentBlondeau commented on #2914
Reply:
Author: Nicolai Hess
Date: 15 October 2014 8:53:33 pm

Message:

I am afraid, this part of keymapping does not distinguish between
different platforms. If we change the code here, it would be like that
for all platforms.

[2019-03-19 14:31] VincentBlondeau commented on #2914
Reply:
Author: Ben Coman
Date: 11 August 2015 4:16:14 pm

Message:

Which part of code defines these?  

 Is this related to the work done to align Cmd/Ctrl as OSX/Win platform meta keys for the majority of Pharo shortcuts?  There will be exceptions and where possible we should conform with existing platform conventions per...

 https://en.wikipedia.org/wiki/Table_of_keyboard_shortcuts

[2019-03-19 14:31] VincentBlondeau commented on #2914
Reply:
Author: Nicolai Hess
Date: 18 June 2016 6:53:32 pm

Message:

with case 18430, it will be easier to define this behavior more platform dependent

[2019-03-19 14:31] VincentBlondeau commented on #2914
Reply:
Author: Vincent Blondeau
Date: 19 June 2017 8:40:44 am

Message:

Problem still existing...

[2019-03-19 14:32] VincentBlondeau opened #2915 "Execute Commented code is not possible anymore"
Migrated case from Manuscript.

Original case: https://pharo.fogbugz.com/f/cases/19095
Status: Work Needed
Project: Rubric
Original Author: Vincent Blondeau
Date: 15 September 2016 12:31:25 pm

Description:

Under Pharo 5.0, it is possible to execute code inside comments by pressing CTRL+P with the carret at the end of the line.

 Eg:

 Now, we have to select the code inside the comments... The co

[2019-03-19 14:32] VincentBlondeau commented on #2915
Reply:
Author: Pavel Krivanek
Date: 21 September 2016 8:40:26 am

Message:

It is now processed the same way as an empty line.

in RubSmalltalkEditor>>#computeSelectionIntervalForCurrentLine the skipping of the comments is done explicitly

[2019-03-19 14:32] VincentBlondeau commented on #2915
Reply:
Author: Pavel Krivanek
Date: 21 September 2016 8:50:46 am

Message:

If you will remove the comments skipping in the form it is done now, you will be able to evaluate single line with only one " as valid expression. Now it is skipped.

[2019-03-19 14:32] VincentBlondeau commented on #2915
Reply:
Author: Tudor Girba
Date: 30 September 2016 4:45:49 pm

Message:

As Pavel mentioned, this is not an issue specific to the Playground. It is the same everywhere Rubric is used.

[2019-03-19 14:32] VincentBlondeau commented on #2915
Reply:
Author: Nicolai Hess
Date: 30 September 2016 10:18:10 pm

Message:

Yes, this feature is gone.
We tried to fix case 15345, where this feature made it impossible to evaluate code that has
an $" inside. I tried to fix that but the fix was not good (see case 17491), finally AliakseiSyrel fixed the
implementation to correctly parse code with $", but this only works if the cursor is within the c

[2019-03-19 14:32] VincentBlondeau commented on #2915
Reply:
Author: Pavel Krivanek
Date: 27 January 2017 10:28:35 am

Message:

Low priority issue. Not for Pharo 6. The milestone "Later" was set automatically.

[2019-03-19 14:32] VincentBlondeau commented on #2915
Reply:
Author: Vincent Blondeau
Date: 28 September 2018 5:25:20 pm

Message:

Issue not solved in Pharo7 - build 1276

[2019-03-19 14:32] VincentBlondeau opened #2916 "Not mapped shortcut combinaison should do nothing instead of writing the character"
Migrated case from Manuscript.

Original case: https://pharo.fogbugz.com/f/cases/19099
Status: Work Needed
Project: Keymapping
Original Author: Vincent Blondeau
Date: 16 September 2016 1:02:05 pm

Description:

When typing a shortcut that is not binded (like ALT+I), we expect that no action is thrown. However, the key in the combinaison is still executed (for the example, the shortcut writes i).

[2019-03-19 14:32] VincentBlondeau commented on #2916
Reply:
Author: Pavel Krivanek
Date: 27 January 2017 10:29:09 am

Message:

Low priority issue. Not for Pharo 6. The milestone "Later" was set automatically.

[2019-03-19 14:32] VincentBlondeau commented on #2916
Reply:
Author: Vincent Blondeau
Date: 28 September 2018 5:09:17 pm

Message:

Still in Pharo 7 build 1276 (sha 6c09bd4)

[2019-03-19 14:33] VincentBlondeau opened #2917 "FileSelectionDialog: remember the last explored directory to start with it for the next selection"
Migrated case from Manuscript.

Original case: https://pharo.fogbugz.com/f/cases/19225
Status: Work Needed
Project: Morphic
Original Author: Vincent Blondeau
Date: 19 October 2016 1:18:25 pm

Description:

In FileSelectionDialog, the first selected folder is alway the working directory. It will be nice to remember the last explored directory to start with it for the next folder selection.

[2019-03-19 14:33] VincentBlondeau commented on #2917
Reply:
Author: Nicolai Hess
Date: 20 October 2016 7:00:07 am

Message:

Looks good, did you test what happens if the lastLocation is not available anymore (because you moved the image to another platform or a network share has been removed)?
On windows it seems to fall back to an empty directory and so the directory selection shows the top level (a list of drives), it would be good if  the directo

[2019-03-19 14:33] VincentBlondeau commented on #2917
Reply:
Author: Vincent Blondeau
Date: 21 October 2016 11:06:58 pm

Message:

You're right, I did not take this into account. A check have to be done if the system is the same or not.

[2019-03-19 14:33] VincentBlondeau commented on #2917
Reply:
Author: Pavel Krivanek
Date: 27 January 2017 12:06:37 pm

Message:

Low priority issue. Not for Pharo 6. The milestone "Later" was set automatically.

[2019-03-19 14:33] VincentBlondeau commented on #2917
Reply:
Author: Vincent Blondeau
Date: 28 September 2018 5:13:12 pm

Message:

Not fixed in Pharo 7 build 1276 (sha 6c09bd4)

[2019-03-19 14:35] VincentBlondeau commented on #2907
https://github.com/pharo-project/pharo/issues/2912

[2019-03-19 14:35] #2912 closed, assigned to nobody

[2019-03-19 14:36] StephanEggermont commented on #2343
It is a VM problem. If I open the Squeak image with the Pharo VM, the bug is reproducable

[2019-03-19 14:36] VincentBlondeau commented on #2911
https://github.com/pharo-project/pharo/issues/2908

[2019-03-19 14:36] #2911 closed, assigned to nobody

[2019-03-19 15:37] MarcusDenker opened #2918 "accessesSlot: should use #isAccessedIn: method"
continue the changes from #2880

- add #isAccessedIn: for Slot (with fast version for instance vars)
- use in accessesSlot:
- use in whichSelectorsAccess:
- whichSelectorsRead: and whichSelectorsStoreInto: changed to call the tests on the slot

Now we need to unify with the isReferencedIn: that is used on Globals and in Calypso

[2019-03-19 15:49] #2900 closed, assigned to MarcusDenker

[2019-03-19 16:15] StephanEggermont opened #2920 "Using Text instead of String as window label breaks debugger halo"
HaloMorph>>doDebug:with:
has
		title: (innerTarget externalName asString truncateWithElipsisTo: 40);
and truncateWithElipsisTo: is only defined on String

Example:
'Text' asMorph openInWindowLabeled: 'Text' asText

[2019-03-19 16:30] plantec commented on #2904
yes, there is the model and the observers that can be listening to the announcements.

[2019-03-19 16:54] StephanEggermont commented on #2904
And the current situation leads to data loss

[2019-03-19 16:58] MarcusDenker commented on #2920
merged

[2019-03-19 16:58] #2920 closed, assigned to nobody

[2019-03-19 16:58] #2918 closed, assigned to MarcusDenker

[2019-03-19 17:09] MarcusDenker opened #2922 "the class builder talks about sharedVariables, while every else they are called Class Variables"
this is very confusing.

--> rename the ivar and accessor to classVariable

[2019-03-19 17:13] StephanEggermont commented on #2343
And it is a regression. With the PharoLauncher VM I have here for Pharo6.1 from 2018-6-28 5.0.201806281256  I can not reproduce

[2019-03-19 17:26] MarcusDenker commented on #2598
needsFullDefinition is a better name.

TODO: add transforming deprecation, then check senders of #isSpeecial

[2019-03-19 17:50] macta commented on #2831
I've hit this again - with a different setup. While developing for Exercism, I create a branch for a new exercise. I then worked on that exercise (it was in the ExercismWIP-tournament package). When i got it working, I moved my exercise to Exercism-tournament. I then started working on something else, and realised that I was still on my tournament branch. So I switched branch to master (but opted

[2019-03-19 19:21] Ducasse commented on #2691
I will published a PR with the changes I suggested.

[2019-03-20 00:05] tinchodias opened #2925 "Integrate latest version of Hiedra"
The code is the master branch here: https://github.com/tinchodias/hiedra

I will create a PR.

[2019-03-20 06:57] #2782 closed, assigned to nobody

[2019-03-20 09:43] dupriezt opened #2927 "Simplify DebugSession>>isContextPostMortem:"
[code]
This method is a tough one to understand.
After looking at it, it looks like all that the 3 last lines are doing is checking that "selectedContext" is not on the context chain of the interruptedProcess.
This can be rewritten in a much simpler fashion:
`^ (suspendedContext hasContext: selectedContext) not`

[2019-03-20 09:57] MarcusDenker opened #2929 "Move method comment parsing from Behaviour to CompiledMethod"
commentsIn: and #firstCommentAt: on Behavior should be better implemented on CompiledMethod.

see #2864 for the other problem that the parsing is very complex (and yet incomplete) and should use the AST instead.

[2019-03-20 09:59] StephanEggermont commented on #2343
201810222239 works, 201810230536 is broken

[2019-03-20 10:14] MarcusDenker opened #2931 "Setup Stale to Close stale Issues and Pull Requests"
We should explore the stale bot:

https://probot.github.io/apps/stale/

How it works

After a period of inactivity, a label will be applied to mark an issue as stale, and optionally a comment will be posted to notify contributors that the Issue or Pull Request will be closed.

If the Issue or Pull Request is updated, or anyone comments, then the stale label is removed and nothing further is done u

[2019-03-20 10:17] MarcusDenker commented on #2931
Something like:

- for pR 3 week  old PR is marked "stale", closed after 1 week more (1 month in total)

- for Issues: stale after 8 months, closed 2 months later

[2019-03-20 10:29] MarcusDenker commented on #2925
PR was merged

[2019-03-20 10:29] #2925 closed, assigned to nobody

[2019-03-20 10:30] MarcusDenker commented on #2691
Ups, I merged the PR already. I will close the issue...

If there is still something to be done => please reopen and comment

[2019-03-20 10:30] #2691 closed, assigned to nobody

[2019-03-20 10:34] MarcusDenker opened #2932 "Setup probot: noresponse"
We had in the past very often the case that an issue was reported, then we asked a (simple!) question, but the issue reporter never answered.

propbot has an automatisation for that case:

https://probot.github.io/apps/no-response/

[2019-03-20 11:22] macta commented on #2343
@StephanEggermont loving your detective work on this one - thanks

[2019-03-20 12:36] astares opened #2933 "Unidirectional Synch problem in Settings browser (for Epicea)"
- open Tools -> Code Changes
- click on Dashboard to open the Epicea Dashboard
- on the dasboard click on "More settings" -> a settings browser opens

When you now in the settings browser for the settings of Epica toggle
the "Monitor enabled" then the Epicea Dashboard will follow this change
and also toggle the "Monitor disabled button".

But this only will work in one direction: if you toggle the

[2019-03-20 14:45] Ducasse commented on #2932
Nice :)

[2019-03-20 14:46] Ducasse commented on #2931
I like the idea. I started to close and fix PR by submitting a new one when people did not react
but there are domains where I cannot.

[2019-03-20 14:49] Ducasse commented on #2377
I was checking and this is good that this is in the baseline of ide!

[2019-03-20 15:15] Ducasse opened #2934 "First pass on RBRefactoring (extract RBParseTreeSearcher new and RBParseTreeSearcher)"

[2019-03-20 16:00] Ducasse opened #2935 "Add test and comment for RBMethodName"

[2019-03-20 16:59] Ducasse opened #2936 "RBScanner isSelector: is wrong"
RBScanner isSelector: #foo::

and foo:: is not a valid selector

[2019-03-20 16:59] Ducasse commented on #2936
same for 'agr:goo:aa' this is not a valid selector.

[2019-03-20 17:28] Ducasse commented on #2904
Hi Stephan

Do not expect that it will be magically be fixed. And I agree with Alain: why a widget should be duplicated. veryFixInner, deepcopy all this logic should be revisited and right now this is a huge mess.

Now we can also say to Alain go and work on his real time scheduler instead of losing his time helping us.
So we should understand how much we want to put in the system. Frankly what we

[2019-03-20 17:29] Ducasse commented on #2927
Can you ask in the mailing-list to know if someone knows about it?

[2019-03-20 17:31] Ducasse commented on #2908
Hello vincent
on:send:to: is for Morph. when:send:to: for announcer.
So this is ok?

[2019-03-20 17:35] Ducasse commented on #2895
Sorry this is independent and we will integrate the PR Alain did do to remove SmalltalkEditor.
I'm waiting for too long on this one.
And after we will remove editor, texteditor and pluggableTextMorph and pluggableTextInputFieldMorph.
There are too much cruft in this system. We will massively clean it.

[2019-03-20 17:51] StephanEggermont opened #2938 "FFIConstantHandleType externalType wrong in 64 bit"
externalType
	^ ExternalType unsignedLongLong

works much better in x64

[2019-03-20 17:53] StephanEggermont commented on #2938
"protocol: #'*UnifiedFFI'"

Integer>>pointer
	^ (ByteArray new: FFIExternalType pointerSize)
		unsignedLongLongAt: 1 put: self;
		yourself

[2019-03-20 18:05] ghost opened #2939 "Cannot extract method using Suggestions menu"
Hello,

Im following the seaside tutorial where I have to refractor a long function into some smaller.

here is a part of the long function:

[code]

So I highlight this part

[code]

highligght it , choose suggestions -> extract method and I see this error message which makes no sense

Information
Invalid source to extract - End of statement list encountered

or this one :

first was send to nill

[2019-03-20 18:11] ghost commented on #2939
when I do ctrl-t extract I see the same error

![afbeelding](https://user-images.githubusercontent.com/47429430/54708537-e2b64980-4b43-11e9-9279-79dc8853a350.png)

[2019-03-20 18:43] StephanEggermont opened #2941 "[Backport] Fixing FFIConstantHandleType externalType wrong in 64 bit"
See #2938 and #2940

[2019-03-20 19:04] macta commented on #2939
I can reproduce this in a 7.0.2 image, its not a seaside issue. The same operation does work if you use the "Source Code" - extract method  menu item.

Looking quickly . - the variable "selectionPreviousHighligth" (sic) - is not being set, and there are 3 places using this. (but many subclasses, of which some use this var too - nasty).  Not even sure why this variable is used as its simply "self s

[2019-03-20 20:16] Ducasse opened #2942 "should revisit the setting of the codeCompletion"
Now that there is no global entry point anymore we should revisit
- settings

settingsOn: aBuilder
	<systemsettings>
	(aBuilder setting: #'Code Completion')
		target: self;
		parentName: #codeBrowsing;
		selector: #enabled;
		iconName: #smallConfigurationIcon;
		description: 'Enable or disable code completion in browsers, debuggers and workspaces.';
		with: [
					| availableControllers |
					ava

[2019-03-20 20:18] Ducasse opened #2943 "ToolRegistry should drop support for completion"
- once SmalltalkEditor is removed we will have one less users.
- we should either remove the handling in TextMorph (see keyStroke:) or add support like we did in RubTextEditor (i.e. by adding an instance variable and passing the completer)

[2019-03-20 20:19] Ducasse opened #2944 "eCompletion NecController and NocController should be renamed"
Controller means nothing.
It would be good to have NECECompleter and NOCCompleter.

[2019-03-20 20:22] Ducasse commented on #2939
Thanks!
We will manage it https://github.com/juliendelplanque/Enjoliveur/issues/20

[2019-03-20 21:22] Ducasse commented on #2934
Started to extract references to RBParseTreeSearcher to factor out a bit of logic.

[2019-03-20 22:21] StephanEggermont commented on #2904
I don't expect magic. I have enough patience. And this is something that not too many people can fix, as it has a lot of moving parts. It took long enough to understand where the actual problem is. And that  is indeed that morphs need to support duplication, and that deciding how to deal with that is difficult.

[2019-03-21 08:53] #2929 closed, assigned to MarcusDenker

[2019-03-21 08:54] MarcusDenker commented on #2864
TODO use "ast comments" instead of #commentsIn:

[2019-03-21 08:56] #2935 closed, assigned to nobody

[2019-03-21 09:10] MarcusDenker opened #2947 "test issue for request info plugin"

[2019-03-21 09:14] MarcusDenker commented on #2932
DONE. the tag is more-information-needed

[2019-03-21 09:14] #2932 closed, assigned to nobody

[2019-03-21 09:14] MarcusDenker commented on #2947
works!

[2019-03-21 09:14] #2947 closed, assigned to nobody

[2019-03-21 09:27] MarcusDenker commented on #2931
I have set it up with:

	Issues: daysUntilStale: 240, daysUntilClose: 60
	Pulls:  daysUntilStale: 20,  daysUntilClose: 10

[2019-03-21 09:27] #2931 closed, assigned to nobody

[2019-03-21 09:54] MarcusDenker commented on #2773
This has been done

[2019-03-21 09:54] #2773 closed, assigned to nobody

[2019-03-21 10:08] VincentBlondeau opened #2948 "Calypso should use not deprecated methods in Pharo 8"
[code]

[2019-03-21 10:08] VincentBlondeau commented on #2948
https://github.com/pharo-ide/Calypso/issues/464

[2019-03-21 10:16] VincentBlondeau opened #2949 "Context>>copyStack crashes the VM"
Run on latest build of Pharo8.

https://ci.inria.fr/pharo-ci-jenkins2/blue/organizations/jenkins/Test%20pending%20pull%20request%20and%20branch%20Pipeline/detail/PR-2940/3/pipeline/55

Stack trace:
[code]

[2019-03-21 10:55] StephanEggermont opened #2951 "OmDeferrerTest>>testExecuteOnceAfterSchedulingMultipleTimes fails"
There is no reason to assume that test can work, it strongly depends on the load on the machine.

[2019-03-21 11:04] VincentBlondeau commented on #2951
https://ci.inria.fr/pharo-ci-jenkins2/blue/organizations/jenkins/Test%20pending%20pull%20request%20and%20branch%20Pipeline/detail/PR-2940/4/pipeline/

[2019-03-21 11:24] VincentBlondeau opened #2953 "[ICEBERG]Diff titles should be consistently specified"
i.e. : Title of the diff windows named "3c65f47 to cceac76" implies that the left pane is 3c65f47  version and right is cceac76 version. But is is not the case....

![image](https://user-images.githubusercontent.com/4706329/54749157-045f1180-4bd4-11e9-8c33-11216671e5ef.png)

[2019-03-21 11:30] VincentBlondeau opened #2954 "[ICEBERG]Revert changes menu item name should indicate what it does"
Does it revert from the first commit of the diff? to the second? Could we merge it ? Are the changes are integrated directly? Or whatever?
(it seems to apply the old commit to the current image version...)

![image](https://user-images.githubusercontent.com/4706329/54749314-720b3d80-4bd4-11e9-8194-c234097d9978.png)

[2019-03-21 11:30] VincentBlondeau commented on #2954
PS: this may need multiple PRs for the separates issues ;)

[2019-03-21 11:30] VincentBlondeau commented on #2954
@StephanEggermont

[2019-03-21 11:49] StephanEggermont commented on #2954
There seems to be a branch missing to merge to

[2019-03-21 12:57] MarcusDenker commented on #2951
merged

[2019-03-21 12:57] #2951 closed, assigned to nobody

[2019-03-21 13:40] MarcusDenker opened #2955 "speedup isAccessedIn: in BooleanSlot and PropertySlot"
we can check if the base slot is there. if not ---> we know we are not

[2019-03-21 13:55] tinchodias commented on #2925
Thanks Marcus, I forgot to do it.

[2019-03-21 16:22] VincentBlondeau opened #2958 "[Test Stability]Race condition for TaskbarMorph update tasks"
@jecisc Do you have an idea?

See: https://ci.inria.fr/pharo-ci-jenkins2/blue/organizations/jenkins/Test%20pending%20pull%20request%20and%20branch%20Pipeline/detail/PR-2940/6/pipeline/56.

Trace:
[code]

[2019-03-21 16:34] macta commented on #2831
I hit this again, loading code from Exercism, which loaded another version of a class via http (and replaced my hello world test case that was currently visible in the browser). The browser seemed to have an old version of the class and was then triggering this error. Closing this browser, then cured the error.

So it seems like an easy'ish thing to create, but does require a bit of random interac

[2019-03-21 16:39] macta opened #2959 "Epicea doesn't reload events in the correct order"
I just had a vm freeze and had to restart my image. I was prompted to load  lost changes which I did, however the code I got was not the code that the previous image had.

In particular, I had renamed a method from #createZincClient to a previous incarnation which was #createZnClient - it seems that these operations (done in the same minute) were loaded in the incorrect order, resulting in me not

[2019-03-21 16:41] macta commented on #2959
This is what it chose to reload (which is the wrong order)

![image](https://user-images.githubusercontent.com/5553623/54768917-236f9a80-4bf8-11e9-966c-48d7ae8149f4.png)

[2019-03-21 17:01] macta opened #2960 "Calypso versions icon (command) doesn't work for programatic class updates"
I have noticed with Exercism, that if I reload a class from Exercism (which involves, downloading code via Http, and then doing a TonelReader parse, and then loading that code via "document load", that the Calypso browser doesn't correctly show the versions of the method in the class that was replaced via the versions icon?

As the class that was loaded on top, had the same name, and the method ha

[2019-03-21 18:15] VincentBlondeau opened #2961 "[Refactoring] CTRL+T Menu should appears in the contextual menu in Calypso"
see gif:

![raUXWSFuCb](https://user-images.githubusercontent.com/4706329/54775068-7738ae80-4c0d-11e9-934a-7fe1ff41bcae.gif)

[2019-03-21 18:16] VincentBlondeau commented on #2961
and in:
[code]
selectionPreviousHighligth  should be replaced by selectionPreviousHighlight

[2019-03-21 18:18] VincentBlondeau opened #2962 "[Debugger]text of the popup debugger can be selected"
And it is quite annoying because you cannot open a bigger debugger when you click on it ...
![EKbjLHQSne](https://user-images.githubusercontent.com/4706329/54775364-165da600-4c0e-11e9-85a3-1799e8dd6465.gif)

[2019-03-21 18:31] VincentBlondeau opened #2963 "[Debugger]Fuel out stack happens silently"
The file is just empty...
![DO23bQwV9V](https://user-images.githubusercontent.com/4706329/54776195-e1eae980-4c0f-11e9-901d-7ccc76d9f641.gif)

[2019-03-21 18:32] VincentBlondeau opened #2964 "[Tools][Rubric]Cannot open the Profiler...."
I just missed a button and clicked unfortunately on the profiler menu item. And guess what: I received an exception (that I cannot fuel out because it not working too: See #2963).
![ur5Yh7UPhu](https://user-images.githubusercontent.com/4706329/54776280-0e066a80-4c10-11e9-9114-9eee66d3dd54.gif)

[2019-03-21 18:47] VincentBlondeau opened #2965 "[ICEBERG]Message when openning an branch for an issue should be improved"
The pic talks by itself
![image](https://user-images.githubusercontent.com/4706329/54777226-25465780-4c12-11e9-9aae-afe99157dd03.png)

[2019-03-21 18:54] VincentBlondeau opened #2966 "[Iceberg]Is there an option for rebasing?"
When the Pharo8.0 branch is ahead of you and you want to catch the train. Nice feature to have to keep up with the fast progresses that Pharo is making

[2019-03-21 18:57] VincentBlondeau opened #2967 "[ICEBERG]The merge preview is not well sized to click on the button"
Sorry about opening bugs reports but....
![image](https://user-images.githubusercontent.com/4706329/54777835-7acf3400-4c13-11e9-90af-0f3697927460.png)

[2019-03-21 19:00] macta opened #2968 "Emergency evaluator triggered unexpectedly on Exception/or via from epicea code recovery"
Hit a strange one, had an image freeze - restarted my image and recovered some code via epicea.

When running my application, I had some code  like this:
[code]
With a breakpoint set on #reportError: . This was triggering the emergency debugger, but pressing enter returned me safely back to my image.

ExDomainError was a class I had recovered, and changing this method to "on: Error" caused  this t

[2019-03-21 19:07] jecisc commented on #2965
Are you on the right remote?

[2019-03-21 19:27] dionisiydk commented on #2961
Suggestions are deprecated in calypso.
Sadly I did not found how remove this menu.
Can you check extract method from Source code menu?

чт, 21 мар. 2019 г., 18:16 Vincent Blondeau <notifications@github.com>:

[2019-03-21 19:28] VincentBlondeau opened #2970 "[CI][Testing][Debugger]Debugger is not found in the CI"
I concede there is another issue, but still the bug of the debugger should not appear. The other bug is indeed mine and should be fixed soon in Pharo8.0

https://ci.inria.fr/pharo-ci-jenkins2/blue/organizations/jenkins/Test%20pending%20pull%20request%20and%20branch%20Pipeline/detail/PR-2945/2/pipeline
[code]

[2019-03-21 23:22] macta commented on #2959
Hit this again - image froze, had to restart, the prompt to recover lost changes is just plain wrong. See photo - if I compare what that initial prompt shows (for recovery), with what then loading epicea shows as latest changes, they are totally different?

![image](https://user-images.githubusercontent.com/5553623/54791045-28504080-4c30-11e9-9eb8-d73f7ee0823e.png)

[2019-03-22 00:56] bencoman opened #2971 "Better comment for StaleBot"
I agree fully the need for the stale-bot https://github.com/pharo-project/pharo/issues/2931 but find its standard comment a bit disheartening...

Can we consider adding:
- philosophical background
- concretely inform of the timeout periods (because I'll forget)
- invite people to contribute

Issue comment: "To limit (bug bankruptcy)<https://www.joelonsoftware.com/2012/07/09/software-inventory/> th

[2019-03-22 07:03] akgrant43 opened #2972 "MailAddressTokenizer doesn't handle non-ascii characters"
RFC 6531 allows mail addresses to include characters outside the normal ascii character set.

The soon to be attached PR extends MailAddressTokenizer to handle these characters (codePoint > 127) and adds automated tests.

[2019-03-22 08:15] StephanEggermont opened #2974 "MNU when dropping a fileout file on the image"
When trying to fix #2969 I tried fling in by dragging a fileout on the image (Windows, Pharo 8/64 build 164), MessageNotUnderstood: ZnBufferedWriteStream>>name pops up
[TaskbarMorph.st.txt](https://github.com/pharo-project/pharo/files/2995563/TaskbarMorph.st.txt)
[PharoDebug.log](https://github.com/pharo-project/pharo/files/2995565/PharoDebug.log)
[Debugger-Stack-ZnBufferedWriteStream-2019-03-22-9

[2019-03-22 08:28] StephanEggermont commented on #2974
And the stream also DNU edit

[2019-03-22 08:43] StephanEggermont commented on #2974
ExternalDropHandler and DefaultExternalDropHandler need to be rewritten to use fileReferences in addition to the streams

[2019-03-22 08:47] #2955 closed, assigned to MarcusDenker

[2019-03-22 08:48] VincentBlondeau commented on #2974
And tests should be added too :)

[2019-03-22 08:55] akgrant43 commented on #2972
PR: #2973

[2019-03-22 09:03] StephanEggermont commented on #2249
Indeed. Just like the original one is good enough for now, just make sure it is clear on which scope it is applying. I need it when fixing Issue #2974 to see which messages are sent to streams.

[2019-03-22 09:20] Alisu opened #2975 "Problem when you read an old non utf8 mcz"
When you try to read an mcz in iso-latina the #contentsForMember: member method is bugged.
It works with a String but got a Stream instead.

[2019-03-22 09:27] VincentBlondeau commented on #2908
yup

[2019-03-22 09:27] #2908 closed, assigned to nobody

[2019-03-22 09:29] VincentBlondeau commented on #2975
Could you give an example that can be easily reproduced?

[2019-03-22 09:32] Alisu commented on #2975
When i try to load this for example.
repository := MCHttpRepository
    location: 'http://www.squeaksource.com/MutationTesting'
    user: ''
    password: ''.

versionInfo := repository versionInfoFromVersionNamed: 'MutationTesting'.
version := repository versionWithInfo: versionInfo.

version snapshot

[2019-03-22 09:47] StephanEggermont opened #2976 "RPackageWithDoTest>>testImageContainsOneSubscribedOrganizer is broken"
It does not test correctly what it says it tests, and its assumption is incorrect

[2019-03-22 09:50] guillep opened #2978 "Process>>#isTerminated is Wrong"
A process that is on the bottom context, but whose context has already started but not terminated says that the process is terminated.

The following code (easily translated to a test) shows the problem.
We start a process from a manually made bottom context.
That context will stop in a semaphore.
While that context is suspended there, the process says it is terminated, and this prevents us from r

[2019-03-22 09:57] MarcusDenker commented on #2965
the "remote" field is a drop down (not visible). You need to select the pharo repository there.

Yes, that needs to be simplified and improved.

[2019-03-22 09:59] StephanEggermont commented on #2978
Broken since at least Pharo 2.0? Works in Squeak 5.2

[2019-03-22 10:03] #2972 closed, assigned to nobody

[2019-03-22 10:06] guillep commented on #2978
Another way to reproduce it. `newProcess` will create a process with a bottom context doing `[self value. Processor activeProcess]`. So in the following

[code]

The stepping operation will just push `self` to the stack, we are before the message send of `value`, but still the process says it is terminated.

[2019-03-22 10:08] fuhrmanator opened #2979 "New class dialog shows comment tab for package (and not new class)"
Steps to get to this issue:
1. select a package and an existing class.
2. select the class again (effectively selecting NO classes in the package).
3. Two tabs appear in the browser: `Comment` and `New class`

Clicking on the comment tab, I see the comments for the package (and not a template for comments of a new class). This is confusing, especially for new Pharo users.

Saving the class changes

[2019-03-22 10:20] MarcusDenker commented on #2976
merged

[2019-03-22 10:20] #2976 closed, assigned to nobody

[2019-03-22 10:22] MarcusDenker commented on #2971
different comments are possible, see https://github.com/pharo-project/pharo/blob/Pharo8.0/.github/stale.yml

[2019-03-22 10:53] StephanEggermont opened #2980 "[Rubric] setTextAndAccept: is missing to RubPluggable"
MorphicTextInputFieldAdapterTest is red
Be more precise.

#testChangeWidgetTextUpdatesPresenter is failing

[2019-03-22 10:57] MarcusDenker commented on #2980
We should put them as expected failures... the CI needs to be green

[2019-03-22 11:01] StephanEggermont commented on #2980
No. This was merged 8 days ago and shouldn't have been if there was no time to fix the code the next day.
This is simply unstable code, and we can't have text editing not working for a week

[2019-03-22 11:02] StephanEggermont commented on #2980
And, yes, CI needs to be green

[2019-03-22 11:03] dionisiydk commented on #2979
In that case the comment tab is a package comment. It is shown only when no
class is selected.
When class is selected the tab shows the class comment

пт, 22 мар. 2019 г., 10:08 C. Fuhrman <notifications@github.com>:

[2019-03-22 11:06] StephanEggermont commented on #2980
This is one
RubPluggableTextFieldMorph
"protocol: #'*Spec-MorphicAdapters'"

setTextAndAccept: aText
	self
		setText: aText;
		hasUnacceptedEdits: true;
		accept

[2019-03-22 11:07] MarcusDenker opened #2981 "ProBot: Install Reminders"
https://probot.github.io/apps/reminders/

Looks nice. From the website:

Use the /remind slash command to set a reminder on any comment box on GitHub and you'll get a ping about it again when the reminder is due.

Use any form of /remind me [what] [when], such as:

/remind me to deploy on Oct 10
/remind me next Monday to review the requirements
/remind me that the specs on the rotary girder need c

[2019-03-22 11:09] StephanEggermont commented on #2980
There is no support for maxlength in Rubric yet

[2019-03-22 11:10] MarcusDenker opened #2982 "ProBot: improve request-info text"
The suggested text is:

"This issue has either a default title or empty body.  We would appreciate
it if you could provide more info about this issue/pr!"

maybe we should mention, too, that the issue will be closed within 14 days if there is no answer

[2019-03-22 11:11] MarcusDenker commented on #2982
The config file to edit: https://github.com/pharo-project/pharo/blob/Pharo8.0/.github/config.yml

[2019-03-22 11:14] MarcusDenker opened #2983 "ProBot: install Welcome Bot"
The Welcome Bot can add a notice for both Issues and PRs done by a "first time" user.

https://probot.github.io/apps/welcome/

We can install it in a simple way and later add pointers to videos and tutorials that explain the next steps

[2019-03-22 11:16] MarcusDenker commented on #2983
\remind me to close this in 2 minutes

[2019-03-22 11:16] MarcusDenker commented on #2981
\remind me to close this in 2 minutes

[2019-03-22 11:17] MarcusDenker commented on #2981
/remind me to close this in 2 minutes

[2019-03-22 11:17] MarcusDenker commented on #2981
nice..

[2019-03-22 11:21] StephanEggermont commented on #2948
In the build image I don't have those methods. Is a wrong version loaded in CI?

[2019-03-22 11:22] #2981 closed, assigned to nobody

[2019-03-22 11:37] VincentBlondeau commented on #2961
Alright.... Then the menu item "suggestion" should display the menu that appears in CTRL+T
![image](https://user-images.githubusercontent.com/4706329/54820381-4608be80-4c9f-11e9-92c0-8c1f7c94e4fe.png)

[2019-03-22 11:39] dionisiydk commented on #2948
I think auto depreciation rewriting changes them.

пт, 22 мар. 2019 г., 11:21 Stephan Eggermont <notifications@github.com>:

[2019-03-22 11:42] dionisiydk commented on #2961
No, suggestion menu should be removed from calypso. The Source code menu is
replacement for it. It performs same role but it's done with Commander like
any other commands in browser

пт, 22 мар. 2019 г., 11:37 Vincent Blondeau <notifications@github.com>:

[2019-03-22 12:20] MarcusDenker opened #2984 "Add a website with all the infos about installed bots"
We need a page on Pharo.org with all the infos about the installed bots.

Work In Progress
Prevent merging of Pull Requests with "WIP" in the title
https://github.com/marketplace/wip
No Response
Closes Issues where the author hasn't responded to a request for more information
If the tag more-information-needed is set and no answer provided, issue is closed in 14 days.
https://probot.github.io/apps

[2019-03-22 12:20] jecisc commented on #2984
Or maybe a section in the README?

[2019-03-22 12:28] MarcusDenker commented on #2983
the bot is now installed, this means that we can enable it by changing the config file
.github/config.yml as described on the welcome page app.

(everyone can do a pull request for that)

[2019-03-22 12:39] fuhrmanator commented on #2979
OK, I realize now I can remove the comment tab by clicking (again) on the package to deselect it. However, that takes the scope out of the package and gives me a `New class` tab with a template for no package (not even sure that makes sense).

As I say, it's confusing to new people in Pharo (of which I am still one, although at some point I won't be able to argue this...):

- You see a tab for a c

[2019-03-22 12:41] MarcusDenker opened #2986 "update CONTRIBUTING.md for Pharo8"
The CONTRIBUTING file needs to be updated for Pharo8:

https://github.com/pharo-project/pharo/blob/Pharo8.0/CONTRIBUTING.md

We should make sure that it is in sync with http://pharo.org/contribute

[2019-03-22 14:11] StephanEggermont commented on #2964
Seems connected to #2980. There is probably no test for the missing styler though

[2019-03-22 14:25] #2982 closed, assigned to nobody

[2019-03-22 14:34] MarcusDenker opened #2987 "provide standard class comment for tests"
Tests without comments are now shown with a ! in the Browser

We now add lots of comments of the kind

"this is a test class".

==> add this comment as the default comment in TestCase class

[2019-03-22 15:06] MarcusDenker commented on #2987
/polls Option1 'I like it' "Bad Idea"

[2019-03-22 15:07] MarcusDenker commented on #2987
/polls I like it 'Bad Idea'

[2019-03-22 15:09] MarcusDenker commented on #2984
Polls
	Automatically create polls in GitHub issues.
	/polls Option1 'Option 2' "Option 3"
       https://github.com/apps/polls

[2019-03-22 15:17] #2934 closed, assigned to nobody

[2019-03-22 15:29] SergeStinckwich opened #2989 "Pharo Code of Conduct"
A lot of open-source project got a code of conduct document. At the moment, there is nothing for Pharo. Why do we need a code of conduct: https://opensource.guide/code-of-conduct/

We can create one here from this template: https://github.com/pharo-project/pharo/community/code-of-conduct/new?template=contributor-covenant

[2019-03-22 15:32] #2983 closed, assigned to nobody

[2019-03-22 15:56] MarcusDenker opened #2990 "ProBot: Improve Welcome"
we have now https://probot.github.io/apps/welcome/ running with very basic messages.

=> add useful information, e.g. pointers to websites and tutorials

The setup is done in this file: https://github.com/pharo-project/pharo/blob/Pharo8.0/.github/config.yml

[2019-03-22 16:08] dionisiydk commented on #2987
That's good

[2019-03-22 16:40] bencoman commented on #2984
Maybe here https://github.com/pharo-project/pharo/blob/Pharo8.0/CONTRIBUTING.md

<blockquote><img src="https://avatars3.githubusercontent.com/u/1838382?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/pharo-project/pharo">pharo-project/pharo</a></strong></div><div>The Sources for Pharo.

[2019-03-22 16:51] MarcusDenker commented on #2987
lets try the voting bot:

/polls "I like it" 'bad Idea'

[2019-03-22 19:10] Ducasse commented on #2989
Ok propose something. We had a zen description but not a code of conduct

[2019-03-22 19:12] #2987 closed, assigned to MarcusDenker

[2019-03-22 19:15] #2864 closed, assigned to MarcusDenker

[2019-03-23 08:24] MarcusDenker commented on #2971
fixed.

[2019-03-23 08:24] #2971 closed, assigned to nobody

[2019-03-23 08:26] MarcusDenker opened #2991 "ProBot to install: Issue Labeler"
Issue Labeler: Label issues based on title and body against list of defined labels.

https://probot.github.io/apps/issuelabeler/

[2019-03-23 08:35] MarcusDenker commented on #2991
I have installed the app. Now it needs to be enabled by adding a .github/labeler.yml (see description in the link above)

[2019-03-23 11:02] VincentBlondeau commented on #2961
Sorry but I do not understand. What do you call the source code menu?
And ok the actual suggestion menu should be removed, but the CTRL+T menu should be also accesssible by mouse click or a button in the GUI

[2019-03-23 12:50] dionisiydk commented on #2961
In context menu there are two submenus: "Source code" on the top of list and next item Suggestions.
What I am trying to explain is that Source code menu is replacement for Suggestions. Source code menu is already activated by cmd+t instead of old suggestions. So we only need to remove suggestions submenu. I did not find the way how to do it only for Calypso browser. It is defined globally by text

[2019-03-23 12:51] dionisiydk commented on #2961
These two items are shown in your gif

[2019-03-23 12:58] zecke opened #2992 "Iceberg is missing 2fa (and/or api access token) support"
IceGitHubAPI>>#handleUnauthorized: should handle 2fa (2factor authentication like OTP) requests or have a way to work with API tokens (as other credential store).

Error message in response in entity:
[code]

Header
[code]

[2019-03-23 13:03] zecke opened #2993 "Update comments of Slot subclasses"

[2019-03-23 15:36] MarcusDenker commented on #2993
merged

[2019-03-23 15:36] #2993 closed, assigned to nobody

[2019-03-23 15:40] MarcusDenker opened #2995 "Failing test on CI: testFromClassWithoutCommentWhenPatternSatisfiesCommentTemplate"
testFromClassWithoutCommentWhenPatternSatisfiesCommentTemplate is failing after merging #2987

[2019-03-23 15:45] MarcusDenker opened #2996 "test failing on CI: GTSpotterExtensionsOnClassTest>>#testBasic"
GTSpotterExtensionsOnClassTest>>#testBasic after merging #2987

[2019-03-23 15:54] MarcusDenker commented on #2980
see #2813

[2019-03-23 19:00] SergeStinckwich commented on #2989
There is a template here : https://github.com/pharo-project/pharo/community/code-of-conduct/new?template=contributor-covenant

<blockquote><img src="https://github.githubassets.com/images/modules/open_graph/github-logo.png" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com">Build software better, t

[2019-03-24 08:44] pavel-krivanek commented on #2962
This is already fixed in the latest Spec development versions.

[2019-03-24 17:42] juliendelplanque opened #2998 "When commenting a trait, the change does not appear in Iceberg diff"
To reproduce:
1. Ensure your package is not dirty in Iceberg.
2. Change the comment of a trait.
3. Try to commit your change in Iceberg.

When reaching 3. you will not be able to commit your change nor to see the related diff.

[2019-03-25 07:12] MarcusDenker commented on #2995
already fixed

[2019-03-25 07:12] #2995 closed, assigned to nobody

[2019-03-25 07:27] akgrant43 opened #3000 "MailAddressParser - extend to parse display name as well as address"
MailAddressParser currently only extracts the address from the supplied string, e.g.:

MailAddressParser addressesIn: 'first last <person@company.com>'.
" an OrderedCollection('person@company.com')"

The soon to be supplied PR extends the parser to extract the display name as well, e.g.:

MailAddressParser addressesAndNamePairsIn: 'first last <person@company.com>'.
" an OrderedCollection(#('first

[2019-03-25 08:42] #2996 closed, assigned to MarcusDenker

[2019-03-25 08:45] MarcusDenker commented on #2813
The problem is that now the test were not green for 2 weeks on the CI and we integrated other Pull Requests that made even more tests fail due to that.

[2019-03-25 08:45] MarcusDenker commented on #2813
I will add a #skipOnPharoCITestingEnvironment to the tests

[2019-03-25 08:49] MarcusDenker commented on #2813
this issue will be closed with integrating the PR. I will add a note to #2980 to remove the skip

[2019-03-25 08:50] MarcusDenker commented on #2980
I have added a #skipOnPharoCITestingEnvironment to these two tests in the other issue:

MorphicTextInputFieldAdapterTest testChangeWidgetTextUpdatesPresenter
MorphicTextInputFieldAdapterTest testMaxLengthIsSetInWidget

they need to be removed when the tests are green.

[2019-03-25 08:59] MarcusDenker commented on #2991
I think we should do it like this:
-  all issue labeller issue should be [in square brackets].
- other labels we put on ignore (need admin to set them)
- have one [tag] per Project board

[2019-03-25 09:04] MarcusDenker opened #3004 "Question: who does the "cdlm added the review label""
There is something adding review labels automatically.... where is that configured?

[2019-03-25 09:34] MarcusDenker opened #3005 "Extra message for RBMessageNode to get interval for full selector part"
Moved from: https://pharo.fogbugz.com/f/cases/21465/Extra-message-for-RBMessageNode-to-get-interval-for-full-selector-part

Currently in many places there is similar code to highlight selector part of message sends:

`positions := foundNode keywordsPositions.
^positions first to: positions last + foundSelector keywords last size - 1.
`

We should introduce nice message for this. Something like #so

[2019-03-25 09:39] dupriezt commented on #2927
@Ducasse Eliot and Max Leske have answered my mail and said they think this improvement would work.

[2019-03-25 09:45] dupriezt opened #3006 "When a test fails, open the debugger on the test instead of on Object>>#assert:"
When executing a single test, if it fails, the debugger opens on the Object>>#assert: method.
I think it would be more useful if the debugger opened directly on the failing test method.

Kind of like how the debugger opens on the method that sent #halt, instead of the Object>>#halt method.

To do this, we can add the pragma <debuggerCompleteToSender> to the relevant assert methods.

Images:
Curren

[2019-03-25 09:50] MarcusDenker opened #3007 "Use <expectedFailure> instead of #expectedFailures"
the pragma <expectedFailure> is much better than using the  #expectedFailures method as this way we know when browsing the code that the test is not a test.

==> clean it up but putting the pragma into the tests everywhere but Fuel (there we should check upstream).

SUnitTest>>#expectedFailures can be deleted

[2019-03-25 09:50] MarcusDenker commented on #3007
Moved from https://pharo.fogbugz.com/f/cases/4711/Use-expectedFailure

<blockquote><img src="/favicon_fogbugz.ico" width="48" align="right"><div><strong><a href="https://pharo.fogbugz.com/f/cases/4711/Use-expectedFailure">FogBugz</a></strong></div></blockquote>

[2019-03-25 09:53] #2813 closed, assigned to MarcusDenker, Ducasse, plantec

[2019-03-25 10:10] MarcusDenker commented on #2990
idea: when message for closing the first PR hould point to the board with simple issues for new people:

https://github.com/orgs/pharo-project/projects/8

[2019-03-25 10:12] MarcusDenker commented on #2990
the "first issue" thank you should point to: https://github.com/pharo-project/pharo/wiki/Contribute-a-fix-to-Pharo

<blockquote><img src="https://avatars3.githubusercontent.com/u/1838382?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/pharo-project/pharo">pharo-project/pharo</a></stron

[2019-03-25 10:14] MarcusDenker commented on #2685
What needs to be done: delete all the lines <publicTest>.

You can find them by browsing "senders of" publicTest

[2019-03-25 12:13] MarcusDenker commented on #2990
DONE

[2019-03-25 12:13] #2990 closed, assigned to nobody

[2019-03-25 12:55] cdlm commented on #3004
Not me directly, that's for sure… Most probably some CI script is using either my credentials or a token, butI was trying to check if we have a build script on jenkins but can't seem to find where any of the jobs or pipelines are defined in there 😞

[2019-03-25 12:56] MarcusDenker commented on #2986
First pass done.

Next: it should be the same content as

http://pharo.org/contribute-report-bug
http://pharo.org/contribute-propose-fix

<blockquote><img src="/files/favicon.ico" width="48" align="right"><div><strong><a href="http://pharo.org/contribute-report-bug">Pharo - Contribute - Report a bug</a></strong></div></blockquote>
<blockquote><img src="/files/favicon.ico" width="48" align="right">

[2019-03-25 13:12] #3000 closed, assigned to nobody

[2019-03-25 14:02] estebanlm commented on #2965
yes, I don't know why you do not see the dropdown, but this is not an error :)
and @MarcusDenker, I don't know how this could be simplified more (pick remote, type issue number) other than querying for the open issues, which would take time.

[2019-03-25 14:52] akgrant43 opened #3009 "CharacterSetComplement size causes GT inspector to crash"
CharacterSetComplement>>size is currently implemented as #shouldNotImplement, which causes GT inspector to crash (amongst other problems).

Given that files can already be larger than the maximum character value (2 ** 30 - 1) it doesn't make sense to artificially restrict iteration over the character set.

Soon to be attached PR:

- Updates CharacterSetComplement>>size to return the correct value.

[2019-03-25 15:48] VincentBlondeau opened #3010 "[RBRefactoring]RBBrowserEnvironment implementorsOf: doesn't handle well when anding envs"
[code]

[2019-03-25 15:50] VincentBlondeau commented on #3010
Test associated:
[code]

[2019-03-25 16:07] VincentBlondeau commented on #2965
Maybe adding a message that says: "you may want to check the other remotes?"

[2019-03-25 16:14] astares commented on #2965
What about using "INVALID-ISSUE-FOR-REMOTE" instead of "INVALID_ISSUE" so one could at least have an idea it might be due to the selected remote...

[2019-03-25 16:46] VincentBlondeau commented on #2965
Good idea!
Can the issue be reopenned? please?

[2019-03-25 18:54] MarcusDenker commented on #3010
a little bit more explanation would be nice..

[2019-03-25 21:48] #2962 closed, assigned to nobody

[2019-03-25 21:48] estebanlm commented on #2962
yup :)

[2019-03-25 22:20] estebanlm commented on #3004
no, is waffle.
@cdlm you entered first so it takes your name.

[2019-03-25 22:20] #3004 closed, assigned to cdlm

[2019-03-25 22:42] VincentBlondeau commented on #2962
But I guess that is not already integrated?

[2019-03-25 22:42] estebanlm commented on #2962
no, but keeping the issue open is just noise :)
We will integrate a new version of Spec after PharoDays.

[2019-03-26 06:54] MarcusDenker commented on #3004
waffle?

[2019-03-26 06:55] MarcusDenker commented on #3004
This? https://waffle.io
With a heavy heart, we are announcing today that we will be closing our doors at Waffle on May 16, 2019.

<blockquote><img src="https://www.waffle.io/marketing-assets/images/waffle-yellow-on-blue.png" width="48" align="right"><div>Waffle.io</div><div><strong><a href="https://waffle.io">Developer-first Project Management for Teams on GitHub | Waffle.io</a></strong></div><div

[2019-03-26 08:38] MarcusDenker opened #3011 "cleanup: delete unsent private method from Slots classes"
The slot classes have some unused code: remove all unsent private methods

[2019-03-26 09:57] jecisc opened #3013 "Regression: DropListMorph content is now selectable"
With recent Rubric changes, DropListMorph changed to use rubric instead of pluggable text morph. This causes a regression because now the text is selectable.

This cause multiple problems such as it is now harder to open the list or RSOD if you select the text and change for a shorter option.

[2019-03-26 10:17] jecisc opened #3014 "Setting browser now uses EditableDropListMorph instead of DropListMorph"
In Pharo 7 the setting browser used DropListMorph to show some settings such as the theme setting.

In Pharo 8 it is an EditableDropListMorph, but it should not be editable. This is a regression. Having an editable drop list make it harder to use because you can only click on the arrow to the right instead of being able to click on any part of the drop list.

[2019-03-26 10:18] VincentBlondeau commented on #3013
@estebanlm said it was fixed in Spec but the issue related was closed because it is noisy:
https://github.com/pharo-project/pharo/issues/2962#issuecomment-476405731

[2019-03-26 10:20] jecisc commented on #3013
This is a different issue.

Your issue is with the list, mine is with drop list morph.

[2019-03-26 10:21] StephanEggermont commented on #2865
Caused by #2789

[2019-03-26 10:21] StephanEggermont commented on #3013
Caused by #2789

[2019-03-26 10:21] jecisc commented on #3013
I found the problem. I'm doing a PR.

[2019-03-26 10:21] StephanEggermont commented on #2980
Caused by #2789

[2019-03-26 10:22] StephanEggermont commented on #2974
Caused by #2789

[2019-03-26 10:22] StephanEggermont commented on #2964
Caused by #2789

[2019-03-26 10:23] StephanEggermont commented on #2963
Caused by #2789

[2019-03-26 10:42] jecisc opened #3016 "GLMCondition and subclasses are useless"
They only implement one block that can be inlined and they are called only in one place.

[2019-03-26 10:47] jecisc commented on #3016
Oh, I did not see #matches call #glamourValue: and not #glamourValueWithArgs:, so is not so simple.

[2019-03-26 10:47] #3016 closed, assigned to nobody

[2019-03-26 13:21] jecisc opened #3017 "Remove GLMWrapper"
GLMWrapper has some lint issues and is used only in one place that can be replaced by a text.

We should remove it.

[2019-03-26 13:28] jecisc opened #3019 "GT-EventRecorder is not used anymore"
I propose to remove it since it is dead code.

[2019-03-26 13:39] 570gina opened #3021 "Morphic / Checkbox enable / disable"
checkboxButtonSelectedDisabledFillStyleFor: aCheckboxButton
	"Return the selected disabled checkbox button fillStyle for the given button."
	^self checkboxButtonDisabledFillStyleFor: aCheckboxButton

A disable checked checkbox is rendering an unchecked checkbox instead.

[2019-03-26 13:44] #3011 closed, assigned to MarcusDenker

[2019-03-26 13:59] MarcusDenker opened #3022 "Use WeakValueDictionary for Undeclared"
When deleting a class, we check if the class is still referenced and if yes, add it to the Undeclared dictionary. (see #removeFromSystem:)

Suggestion of Pablo:
- use WeakValueDictionary
- remove the #isReferenced check in #removeFromSystem:, always add the class to Undeclared and then let the GC remove the unused classes
- we have to keep #cleanOutUndeclared as the GC will not remove a class that

[2019-03-26 14:00] MarcusDenker commented on #2369
I added https://github.com/pharo-project/pharo/issues/3022 for the Undeclared.

[2019-03-26 15:24] MarcusDenker opened #3023 "Some cleanups in Slots"
- move expected failure to use pragama
- simplify whichSelectorsAccess:, whichSelectorsRead: whichSelectorsStoreInto:
- simplify #initializeInstance: default implementation in ObjectLayout
- improve test AccessorInstanceVariableSlot
- some assert:equals: cleans in tests

[2019-03-26 15:50] dupriezt opened #3025 "Adding Debugger Tests"
I wrote some additional tests for the debugger and will make a pull request with them to add them to pharo.

[2019-03-26 16:13] dupriezt commented on #3025
Edited top comment to add information

[2019-03-26 18:04] estebanlm commented on #3004
yes, that

[2019-03-26 18:04] estebanlm commented on #3004
is (was) a tool to manage the issue tracker (something like projects, but better in a way/worst in another)

[2019-03-26 18:31] ghost commented on #2939
Any news when this is solved. Im eager to learn seaside ?

[2019-03-27 08:09] pavel-krivanek commented on #2865
the stack:
[code]

the DNU i  #replaceFrom:to:with: is a standard way how the decorator works, the problem is in incompatility of the `RubFindReplaceService`

When you disable code in `RubFindReplaceService>>#findPolicyChanged` then it does not hang, however it of course does not highlight the text and at the end it raises `Error: This block accepts 1 argument, but was called with 0 arguments.`

M

[2019-03-27 09:58] jecisc opened #3027 "Clean flags in the system"
With Stephane we will do a pass on the flags in the system.
Some of them are useless, some of them should be just comments, some of them should be Pharo issues, some of them are obsolete...

[2019-03-27 10:33] MarcusDenker commented on #3025
I will change the text of the bot to include: "Note: I am not a very intelligent bot, I can only react to new comments. Please add a comment for me after you editi the body or title"

[2019-03-27 10:58] dupriezt commented on #3025
@MarcusDenker there's a typo in the text you wrote (an "i" after "edit")

[2019-03-27 11:37] pavel-krivanek commented on #3021
https://github.com/pharo-spec/Spec/issues/233

[2019-03-27 12:04] MarcusDenker commented on #3025
the committed version is now:

 Note: I am not a very intelligent bot, I can only react to new comments. Please add a comment for
 me if you update the body or title.

[2019-03-27 13:45] akgrant43 commented on #3009
PR: #3028

[2019-03-27 14:30] jecisc opened #3033 "TextMorphEditView should be packaged with PluggableTextMorph"
Because it is its only user.

When PluggableTextMorph will be removed, it should also be removed.

[2019-03-27 15:59] MarcusDenker commented on #2471
Happens again regularly.

They are all related to the PragmaCollector:

Got an Array(a WeakAnnouncementSubscription(a WeakMessageSend(#classRemovedEventOccurs: -> nil)) a WeakAnnouncementSubscription(a WeakMessageSend(#removedEventOccurs: -> nil)) a WeakAnnouncementSubscription(a WeakMessageSend(#addedEventOccurs: -> nil)) a WeakAnnouncementSubscription(a WeakMessageSend(#removedEventOccurs: -> ni

[2019-03-27 16:28] MarcusDenker commented on #2984
I for now added it to the wiki https://github.com/pharo-project/pharo/wiki/Issue-Tracker-Bots
and put a link to that in the CONTRIBUTING.

<blockquote><img src="https://avatars3.githubusercontent.com/u/1838382?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/pharo-project/pharo">pharo-p

[2019-03-27 16:28] #2984 closed, assigned to nobody

[2019-03-27 19:41] Ducasse commented on #3033
Yes this is one of the next one on our radar.

[2019-03-27 21:41] Ducasse opened #3035 "We should improve the emergency evaluator"
The last modified method is not logged correctly.
and we should improve this logic because when working on texteditor and related the emergency evaluator can save us.

[2019-03-28 08:51] SergeStinckwich opened #3036 "On Mac selecting "About" option form the menu - About window will not close"
See details here: https://github.com/pharo-project/pharo-launcher/issues/318

[2019-03-28 08:53] demarey commented on #3036
yes, this issue is related to the VM App for OS X. thanks

[2019-03-28 08:57] MarcusDenker opened #3037 "missing #setTextAndAccept: in RubPluggableTextFieldMorph"
"protocol: #'*Spec-MorphicAdapters'"

`setTextAndAccept: aText
self setText: aText;
       hasUnacceptedEdits: true;
       accept`

[2019-03-28 10:02] MarcusDenker opened #3038 "Simplify Slots that use base slot"
no shared hierarchy yet, but as a first step a simplification:

-> no need for #layOutChanged: as #installingIn: is send when the class is fully created
-> offset calculation simplifies.

TODO:
- shared Hierarchy
- tests for removing with instances present
- add a slot higher in the hierarchy: how to move base slot up?

[2019-03-28 10:13] jecisc opened #3040 "Cannot search setting browser anymore"
When I try to search the setting browser I get an error in the latest Pharo 8.

Error: `#registerToolsOn: was sent to nil`

Stack:
[code]

System version:
[code]

[2019-03-28 10:13] #3023 closed, assigned to MarcusDenker

[2019-03-28 10:48] MarcusDenker opened #3041 "Monticello wrongly resolves names for instance variables in classes that contain slots"
Move from: https://pharo.fogbugz.com/f/cases/22080/

Let's have a class with this definition that combines standard instance variables and slots:
`Object subclass: #IssueClass
    uses: { TSortable }
    slots: { #slot1. #slot2. #booleanSlot => BooleanSlot  }
    classVariables: {  }
    category: 'IssuePackage'.`

The names of all slots contain a hash (#) in the name:

`IssueClass asClassDefiniti

[2019-03-28 10:50] MarcusDenker opened #3042 "Better slots handling in TaClassCompositionElement >> slots"
From: https://pharo.fogbugz.com/f/cases/21972
based on discussion in https://github.com/pharo-project/pharo/pull/1253

dionisiydk on Apr 24  •  Member
It was here before. But now I noticed that "TraitedClass slots" is empty.
Does this logic really needed?

And what will happens if I will have class with var names equal to one from TraitedClass? And then I will add trait to it. Relying on name does

[2019-03-28 12:44] MarcusDenker opened #3044 "tests for ComputedSlot"
ComputedSlot should have tests

[2019-03-28 14:51] Ducasse commented on #2855
Do you know if it is a regression that happens recently?

[2019-03-28 14:53] jecisc commented on #2855
It happened between Pharo 6 and 7.

[2019-03-28 15:14] MarcusDenker commented on #2855
The globals are in the list first... I think this can be fixed by moving the adding from #initializeSelectors to #addVariables

[2019-03-28 15:40] MarcusDenker commented on #2855
the reason why we did not see it is that the code completion limited the found completions so early that classes where never found. (it just added the first 100 or so).

e.g. you could type Ord  in the playground and it would *not* show you OrderedCollection....

[2019-03-28 16:01] MarcusDenker commented on #2855
I added

Smalltalk globals keysDo: [ :symbol  |
					(symbol includesSubstring: narrowString caseSensitive: NECPreferences caseSensitive)
						ifTrue: [entries add: (NECGlobalEntry contents: symbol) ]].

to addVariables and removed it from initializeSelectors , but that now makes the experience in the playground useless: type Ord... and it shows selectors first.

[2019-03-28 21:10] astares opened #3046 "testFilePermissionshas unused temp vars"
see class ZIPArchiveTest>>testFilePermissions

[2019-03-28 21:29] astares opened #3047 "Inconsistencies in Memory file system"
[code]
provides a new memory file system

When asked for the working directory using
[code]
this returns 'memory:///'

[code]
would open an inspector on the empty file system.

But when we try it the other way around using

[code]
this would give you an inspector on the current hard disk working directory.

Will I be the only one who thinks this is not consistent? Or did I miss something?

[2019-03-28 22:08] tinchodias commented on #2959
I can try to fix it in the Sprint tomorrow

[2019-03-28 22:11] tinchodias opened #3048 "String>>withUnixLineEndings shouldn't modify the the original string"
Ronie Salgado reported this issue in pharo-dev mailing list 10 days ago:

[2019-03-29 07:53] astares opened #3049 "MemoryDirectoryEntry is not compatible to DiskDirectoryEntry regarding #size"
- DiskDirectoryEntry  has a #size implementation
- MemoryDirectoryEntry has not and therefore throws an error (FileAttributeNotSupported) as  #size from the base class FileSystemDirectoryEntry is called.

Can easily be fixed by implementing a method
[code]
in MemoryDirectoryEntry

We should also write a test for it

[2019-03-29 08:00] astares commented on #3049
test could be like

[code]

[2019-03-29 08:53] juliendelplanque opened #3051 "SourceCodeFonts class>>#useSourceCode/#useSourceCode: are empty"
So the setting referencing these methods seems to do nothing.

[code]

[2019-03-29 08:57] aranega commented on #3048
@tinchodias we checked very quickly, and we are not sure of what should be the behavior of the `#withUnixLineEnding` method. Indeed, currently, the modification is made in-place, but there's nothing in the documentation of the method that states it should not.
What would be the right behavior for this method?

[2019-03-29 09:06] juliendelplanque opened #3053 "Opening 32bits Pharo 8 image raises primitive failed error"
Need someone to be able to reproduce to be sure this problem is not local to my machine...

## Overview
<img width="980" alt="Capture d’écran 2019-03-29 à 10 00 12" src="https://user-images.githubusercontent.com/8260456/55221375-9afd8500-5209-11e9-879e-43446b0bd319.png">

## OS details
[code]

## Pharo version
Image: Pharo8.0-SNAPSHOT.build.190.sha.485a5eb.arch.64bit

From Pharo launcher, I can no

[2019-03-29 09:11] dupriezt commented on #3040
The same error is signalled when trying to open the "Code Completion" setting category (in the "Code Browsing" setting category) in the settings browser.

[2019-03-29 09:17] astares commented on #3047
Reason is simple

  "FileSystem disk"

is hardcoded in String>>#asFileReference

Should we choose dending on storage prefix like:
  memory://   -> memory (as given in MemoryStore>>forReferencePrintOn:
  zip://           -> zip (as given in ZipStore>>forReferencePrintOn:)

and none by default to choose disk?

[2019-03-29 09:21] juliendelplanque opened #3055 "Applying automatic code transformation for "guard clause critic" removes method comment"
When I apply the automatic code transformation for "guard clause critic", it removes method comment.

Here is how to reproduce the issue:

1. Create `DummyObject` class
2. Add `#methodToRefactorWithGuardClause` method with source code:
[code]

This method will show the quality assistant critic "Replace single branch conditional with guard clause".

<img width="860" alt="Capture d’écran 2019-03-29

[2019-03-29 09:30] guillep opened #3057 "Integrated Iceberg 1.6.0"
Version 1.6.0. Not compatible anymore with Pharo6.
https://github.com/pharo-vcs/iceberg/releases/tag/v1.6.0

[2019-03-29 09:38] juliendelplanque opened #3059 "TestAsserter>>#assert:description:resumable: should be refactored to use guard clause"
As suggested by quality assistant.

On the way we will enhance the comment.

[2019-03-29 10:04] aranega commented on #2978
@guillep with @Larcheveque we checked a little bit the issue, and we found a strange comparison in the `#isTerminated` method. There is many comparison checking if the suspended context is dead, and the final one checks if the suspended context's `startpc` is smaller than the it's `pc`. This looks weird, because it should be almost always the case, unless the process as not started.

[code]

We tr

[2019-03-29 10:06] astares opened #3061 "Cleanup: correctly name the tests in FileSystem-Tests-Attributes"
DiskFileAttributesTests -> DiskFileAttributesTest
FileAttributesPluginPrimsTests -> FileAttributesPluginPrimsTest
FileReferenceAttributeTests -> FileReferenceAttributeTest

als renaming the resource into singular

DiskFileAttributesTestsResources -> DiskFileAttributesTestsResource

[2019-03-29 10:10] macta opened #3062 "SUnit #should:raise: should give much more helpful error message"
When writing a test to detect a specific exception e.g.

``self should: [ NanException signal ] raise: DomainError```

gives you very little useful information to identify what exception you got instead of the intended one. Furthermore, the stack and the way that method is composed, make if very difficult to find this information. Something so simple should try and help you resolve the problem.

I

[2019-03-29 10:15] MarcusDenker commented on #3004
I added it to https://github.com/pharo-project/pharo/wiki/Issue-Tracker-Bots

<blockquote><img src="https://avatars3.githubusercontent.com/u/1838382?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/pharo-project/pharo">pharo-project/pharo</a></strong></div><div>The Sources for Pharo. Co

[2019-03-29 10:17] juliendelplanque opened #3064 "Each assert like method in TestRunner should have the dual deny method"
Some assert methods do not have their dual deny method.
It should be the case.
With @GDayne we looked and summarise what should be done:

| Assert method  |  Dual deny method |
|---|---|
| `#assert:`  | `#deny:`  |
| `#assert:closeTo:`  | /  |
| `#assert:description:`  | `#denyDescription:`  |
| `#assert:description:resumable` | `#deny:description:resumable` |
| `#assert:equals:` | `#deny:equals:`

[2019-03-29 10:26] astares opened #3065 "Cleanup unused publicTest pragma in FileReferenceTest"
Check senders of publicTest and you will find a few tests tagged with
a pragma:

      <publicTest>

Why is this? Seems only used in FileReferenceTest and still unused.

Should we remove it?

[2019-03-29 10:26] MarcusDenker commented on #3065
yes, there is already an issue for that...

[2019-03-29 10:27] MarcusDenker commented on #3065
is is https://github.com/pharo-project/pharo/issues/2685

[2019-03-29 10:30] astares opened #3066 "FileSystemHandleTest testCreatedOpen"
needs review

[2019-03-29 10:34] juliendelplanque opened #3067 "Float>>#closeTo: does not use Float>>epsilon as default precision."
This is odd, it uses a magic constant `0.0001` instead.

[code]

But the comment of Epsilon class variable in Float is  "Defines precision of mathematical functions" and is set to `Epsilon := 0.000000000001.` in `Float>>#initialize`.

So, I think Float>>#closeTo: should use Epsilon but it will be a non-retrocompatible change.

[2019-03-29 10:35] akgrant43 commented on #3047
Hi Torsten,

I agree, this is inconsistent, but I don't think modifying #asFileReference is practical:

- Memory and Zip file systems don't have a common root (they're not singletons like the disk file system), so there's no way to get from a string by itself to a particular file system.
- 'memory:' and 'zip:' are both valid file names in linux (and probably MacOS), so it is necessary to know whet

[2019-03-29 10:40] aranega opened #3068 "#comments method on compiled method only considered the method comment"
When you ask a compiled method for its comments, the `#comments` method only returns the first comment directly set under the method signature (the method comment). Other comments are not considered by the method. For example, on the following method:

[code]

This call only returns the first comment.

[code]

[2019-03-29 10:48] astares opened #3069 "assert:equal: cleanups in FileSystem-Tests-Core package required"

[2019-03-29 10:49] astares commented on #3069
The bot is nice - but the title says what to do.

[2019-03-29 10:57] astares commented on #3065
@MarcusDenker

Ah OK - how will this be handled?

Should I close this one then, is it tagged as duplicated or can we merge them?

[2019-03-29 11:00] astares commented on #3047
But zip:// is not valid file name in Linux

[2019-03-29 11:16] akgrant43 commented on #3047
But... :-)

[code]

[2019-03-29 11:34] astares commented on #3047
You can construct foo:// on Linux but not foo:///  with the additional slash from the root dir.

That's why
[code]
gives memory:///

So when it has three slashes it depicts a store (other to disk) - no?

[2019-03-29 11:41] MarcusDenker commented on #3065
sadly there is no duplicate handling in GitHub... there are plugins (e.g. https://reporanger.com).
For now we just add a comment and close it (duplicate of #2685)

<blockquote><div><strong><a href="https://reporanger.com/">Ranger — A GitHub bot that eases the burden of repository maintainers</a></strong></div><div>A GitHub bot that eases the burden of repository maintainers</div></blockquote>

[2019-03-29 11:41] #3044 closed, assigned to MarcusDenker

[2019-03-29 11:44] astares commented on #3065
Duplicate of  #2685

[2019-03-29 11:44] #3065 closed, assigned to nobody

[2019-03-29 11:49] akgrant43 commented on #3047
The format of a URL is \<protocol>://\<path>

So:

memory:///

Is saying the memory protocol (memory://) with the root path (/).

But the linux file system ignore empty paths when traversing the tree, so memory:/// is a valid relative path (replacing 'memory' with 'zip' and continuing my example above):

[code]

We could theoretically have something like (untested):

'memory:///path/to/file.txt' a

[2019-03-29 11:59] astares opened #3072 "ComputedSlots break accessor generation"
When using the ComputedSlots in a class

[code]

and then use the "generate accessor" functionality

@MarcusDenker
Implementing a  "createRefactoring: variableRefactoringClass for: declarationClass" seems necessary - to at least allow to generate the getter.

[2019-03-29 12:18] macta opened #3073 "Pharo7: Instance of DiffPresenter did not understand #hasUnacceptedEdits:"
When loading my master branch in iceberg (I was on a different branch), I get a walkback:

DiffPresenter(Object)>>doesNotUnderstand: #hasUnacceptedEdits:
Message>>sentTo:
DiffPresenter(Object)>>doesNotUnderstand: #hasUnacceptedEdits:
Message>>sentTo:
DiffPresenter(Object)>>doesNotUnderstand: #hasUnacceptedEdits:
Message>>sentTo:
DiffPresenter(Object)>>doesNotUnderstand: #hasUnacceptedEdits:
Messag

[2019-03-29 12:34] astares opened #3074 "Review testSelectorFilter"
What about the commented last line? Can we remove it?

[2019-03-29 12:42] astares opened #3075 "Lint cleanup / ban for DiskFileSystemTest>>testEqual"
System suggests to use assert:equals: in DiskFileSystemTest>>testEqual
but the reason of the test is to really check for #= comparision.

So we should ban this check on the method by adding it to the manifest.

[2019-03-29 12:45] astares opened #3077 "Proper name for testisDefinedAsPackageOrSubPackageInMC"
We should use testIsDefinedAsPackageOrSubPackageInMC
instead of testisDefinedAsPackageOrSubPackageInMC to follow proper casing rules

[2019-03-29 12:53] macta opened #3079 "LinkedList #after: hangs image when list is circular"
I wanted to create a circular list so that I can wrap around getting the next value. When I do this however, #next: seems to hang the image.  (Cmd + . doesn't work)

I did the following:

[code]

I also notice that if you evaluate the first two lines, and then try to use "debug it" (context menu) to see why it hangs (in a new image), that this seems to hang the image before the debugger appears as

[2019-03-29 12:53] astares opened #3080 "Review testIndexOfSubCollectionStartingAtIfAbsent"
testIndexOfSubCollectionStartingAtIfAbsent for SortedCollectionTest seems already equally coded in Trait
(but with different formatting)

[2019-03-29 12:55] astares commented on #3080
Same for

 testKeyAtIdentityValueIfAbsent
 testIncludesKeyLocalyDefined

[2019-03-29 12:56] dupriezt opened #3081 "Code Completion tool registration is commented"
In NECController class
![image](https://user-images.githubusercontent.com/32486709/55233864-0fe0b700-522a-11e9-87fd-024ac100310f.png)
The line responsible for the registration of the code completion tools was commented, which prevents a code-completion-related setting from getting a proper default value. This seems responsible for issue #3040

[2019-03-29 12:58] bencoman commented on #3068
Interesting idea.  Though it is #comment singular not #comments plural so the behaviour does make some sense.  What is your use case?

btw, I put a ``self haltOnce`` in the method and can't seem to get that triggered. Any idea where that method is invoked from?

[2019-03-29 12:58] juliendelplanque commented on #3064
While implementing this, we realised that in fact adding `#denyCollection:hasSameElements:` makes no sense because it is juste checking that the two collections are different. So we will not add this one.

[2019-03-29 13:02] astares opened #3082 "Unfinished testCompositionCopy"
Seems unfinished at the bottom (there is an unused temp variable

Two options to proceed:
 A) find out about author and complete the test
 B) remove the t6compositionCopyFirst temp variable and assignment

[2019-03-29 13:06] #2141 closed, assigned to estebanlm

[2019-03-29 13:11] dupriezt commented on #3081
Probably linked to why the registration line was commented: #2943

[2019-03-29 13:13] juliendelplanque opened #3083 "TAssertable should be sync with TestAsserter?"
It seems out of sync.

[2019-03-29 13:13] #3059 closed, assigned to nobody

[2019-03-29 13:14] astares opened #3084 "RunArray should implement add: method"
Could possibly be solved by using

[code]

[2019-03-29 13:23] cdlm opened #3085 "Selecting package for SUnit code coverage makes image unresponsive"
1. open Test Runner, choose tests to run
2. click "code coverage"
3. modal opens to select packages to instrument, type in query field → 💀

Related to #2789, apparently

[2019-03-29 13:24] astares opened #3086 "Abstract collections should redefine #isAbstract"
All the collections in "Collections-Abstract" package currently return "false" when asked for #isAbstract.

[code]
which is wrong.

So we should define #isAbstract to return true.

[2019-03-29 13:28] demarey commented on #3036
With Pablo, we determined that this problem comes from the deactivation of the events for windows that are not the main window.
See commit https://github.com/OpenSmalltalk/opensmalltalk-vm/commit/b6cb1927f39786de37d829a8677fe9cac2693a94

[2019-03-29 13:45] aranega commented on #3068
Actually there is a `#comments` selector on `CompiledMethod`, the code is the following:

[code]

It is said that it returns all the comments from the method, so it sounds that all the comments contained in the method should be returned.

**EDIT>** Sorry, I forgot about the use case. We have an intern here that is working on tests and make use of all the comments defined in the method (as far as I

[2019-03-29 13:46] akgrant43 commented on #3047
I've just realised that github has swallowed the angle brackets (I guess as html).  The URL format is

protocol://path

where 'protocol' and 'path' were in angle brackets before.

[2019-03-29 13:51] bergel commented on #2855
Alejandro and I are working on this right now

[2019-03-29 13:59] akevalion commented on #3046
I have removed the unused temp vars, check https://github.com/pharo-project/pharo/pull/3089

[2019-03-29 14:12] astares opened #3091 "ExternalData>>#printOn: not as extension"
ExternalData>>#printOn:

is currently an extension from  '*UnifiedFFI'

We should put it into the FFI package.

[2019-03-29 14:14] #3077 closed, assigned to astares

[2019-03-29 14:14] #3075 closed, assigned to astares

[2019-03-29 14:15] GDayne commented on #3053
I am able to reproduce this problem as well. I also have a 64bits system.

[2019-03-29 14:16] #3061 closed, assigned to astares

[2019-03-29 14:33] GDayne opened #3093 "Add #assertCollection:includesAny: and #denyCollection:includesAny:"
Because we have #assertCollection:includesAll: and #denyCollection:includesAll: we should have #assertCollection:includesAny: and #denyCollection:includesAny: in TestAsserter

[2019-03-29 14:39] akevalion commented on #2685
I have removed the publicTest check PR https://github.com/pharo-project/pharo/pull/3094

[2019-03-29 14:46] MarcusDenker commented on #3007
merged PR

[2019-03-29 14:46] #3007 closed, assigned to nobody

[2019-03-29 14:56] bergel commented on #2855
PR here: https://github.com/pharo-project/pharo/pull/3096
Ready to be reviewed

[2019-03-29 14:57] MarcusDenker commented on #2855
Does it really fix the problem? it sorts Class Variables nicer, but Globals will still come first?

[2019-03-29 15:00] #3069 closed, assigned to astares

[2019-03-29 15:16] MarcusDenker commented on #3037
duplicate of #2980

[2019-03-29 15:16] #3037 closed, assigned to nobody

[2019-03-29 15:17] MarcusDenker commented on #3046
merged PR

[2019-03-29 15:17] #3046 closed, assigned to nobody

[2019-03-29 15:26] #3038 closed, assigned to MarcusDenker

[2019-03-29 15:29] alejandroinfante commented on #2855
We made that variables are now at the beginning of the list, instead of globals. Now the example looks  as expected, the local variable first and the globals later.

In the workspace, since there are no variables, it works normally placing globals at the beginning.

[2019-03-29 15:33] tinchodias commented on #2959
PR: https://github.com/pharo-project/pharo/pull/3097

[2019-03-29 15:38] #2895 closed, assigned to estebanlm

[2019-03-29 15:40] alejandroinfante commented on #2471
Using the `pointersTo` and traversing the object graph we noticed that those weak announcements are being held by the SystemAnnouncer registry.

To clean that we executed:
[code]
After executing that, the tests are green again. But the original cause of why those announcers are being held by the SystemAnnouncer is still unknown.

[2019-03-29 15:55] MarcusDenker commented on #2855
ah, nice

[2019-03-29 15:57] MarcusDenker commented on #2685
merged PR

[2019-03-29 15:57] #2685 closed, assigned to nobody

[2019-03-29 15:58] bergel commented on #2855
The the algorithm can be significantly improved. For example, you probably do not want to have at the beginning of the list some classes that are very remote to the project in which you are working on.

[2019-03-29 16:22] jecisc opened #3101 "Clean VTermOutputDriver"
Currently, we have two classes VTermOutputDriver in the system.

Do we need two of them?

[2019-03-29 17:56] Ducasse opened #3104 "Browse class should work if cursor is on the same line but text not selected"
Often I have

Point|
where | is the cursor

And I would like to browse it.
This is annoying to have to select the text to browse the class.

Browse should be a bit smarter and select the text around and check if it is class.

[2019-03-29 18:02] #3057 closed, assigned to guillep

[2019-03-29 18:03] #2855 closed, assigned to bergel

[2019-03-29 18:04] Ducasse commented on #3091
Integrated

[2019-03-29 18:04] #3091 closed, assigned to nobody

[2019-03-29 18:08] Ducasse commented on #3040
Yes this is probably my mistake. I will have a look.

[2019-03-29 18:10] #3013 closed, assigned to jecisc

[2019-03-29 18:14] tinchodias opened #3105 "Remove workaround in EpApplyVisitor>>visitClassModification:"
As Cyril pointed out, it is not needed anymore.

[2019-03-29 18:21] Ducasse commented on #2959
Tx martin
If you add Fixes #3097 in your PR the issue is automatically closed on PR integration

[2019-03-29 18:21] #2959 closed, assigned to nobody

[2019-03-29 18:22] tinchodias commented on #3105
Created #3106

[2019-03-29 18:22] tinchodias commented on #3105
@jecisc

[2019-03-29 18:23] #3093 closed, assigned to nobody

[2019-03-29 18:28] tinchodias opened #3107 "Remove EpSorterLog because it's unused"
And merge the sibling (EpLog) and the superclass (EpAbstractLog) since the hierarchy is not needed.

[2019-03-29 18:40] #2980 closed, assigned to Ducasse

[2019-03-29 20:16] Ducasse commented on #3025
Thanks thomas. if you have Fixes: #3026 in your PR, when the PR is integrated it closes automatically the issue and we do not have to do it manually.

[2019-03-29 20:16] #3025 closed, assigned to nobody

[2019-03-29 20:20] #3009 closed, assigned to nobody

[2019-03-29 20:21] Ducasse commented on #3081
There is not such registration to a global place. Such global place should be queried anymore!
Now each text editor can be configured and a default can be set for all the future text editors.

[2019-03-29 20:21] #3081 closed, assigned to nobody

[2019-03-29 20:42] Ducasse opened #3110 "Introduce a NullCompleter"
We can simplify the logic by introducing a nullCompleter.
Now we should check the Rub noCompleter because we do not want to create dependencies between packages.
The nullCompleter could be packaged with Rub and the other in the other packages.
Now we will need to think about it.

[2019-03-29 20:43] Ducasse opened #3111 "Why do we have in Object >> isCodeCompletionAllowed?"
isCodeCompletionAllowed
	^false

Looks terrible to me.

[2019-03-29 20:46] Ducasse opened #3112 "openInEnvironment: does not seem to exist anymore but it is sent"
Denis do you have an idea how we can rewrite the users to use Calypso/....

[2019-03-29 20:52] Ducasse opened #3113 "we should rename NEC and NOC Controller into CompletionEngine"
Name name names....

[2019-03-29 20:56] Ducasse commented on #3105
Integrated

[2019-03-29 20:56] #3105 closed, assigned to nobody

[2019-03-29 21:23] #3040 closed, assigned to Ducasse

[2019-03-30 04:11] bencoman commented on #2855
If this was a regression from Pharo 6 to 7 as Cyril indicates, can it seems be backported ?

[2019-03-30 06:32] #3086 closed, assigned to astares

[2019-03-30 07:20] MarcusDenker commented on #2944
duplicate of  #3113

[2019-03-30 07:20] #2944 closed, assigned to nobody

[2019-03-30 08:46] #3033 closed, assigned to jecisc

[2019-03-30 08:47] Ducasse commented on #3113
Tx marcus. I'm doing it now because I'm fedup to read these names.

[2019-03-30 08:58] Ducasse opened #3114 "Write test for: Losing class side instance variables on class redefinition"
Hi

I was introducing a new superclass to NECController and I lost its class instance variables.
Here is what I did.
- Define a class that inherit from Object
Object subclass: #NullCompletionEngine
- changed
Object subclass: #NECController
	instanceVariableNames: 'model menuMorph editor context inverseMapping completionDelay'
	classVariableNames: 'ContextClass'
	package: 'NECompletion-View'

to

N

[2019-03-30 09:07] Ducasse commented on #3113
I'm trying to come up with a better name because they are a kind of controller since they are talking to morph. Now may be Completer would be better. Then we will have to move the Preferences into the class because this is super strange to have code like that....

newSmartCharacterInsertionStringForLeft: left right: right
	((NECPreferences smartCharactersWithDoubleSpace includes: left) or: [
	(NEC

[2019-03-30 09:27] Ducasse commented on #3113
Argh lost my changes.... will redo it later

[2019-03-30 12:02] MarcusDenker commented on #3114
bug was likely introduced by #2777

[2019-03-30 12:03] MarcusDenker commented on #3114
another thing that might be related:  #fillFor: does not set the class instance variables (I saw that when doing  #2901 )

[2019-03-30 17:18] MarcusDenker opened #3115 "delete the method privateFormat:"
the method #privateFormat: (there is only one) can be removed.

[2019-03-30 18:32] akgrant43 commented on #3053
Can you copy the text from the System Reporter Image and VM General pages and PharoDebug.log (delete it first and reproduce the problem so it is a clean log).

Thanks,
Alistair

[2019-03-30 20:10] dionisiydk commented on #2443
Environment issue is here #3112 .
About trait users: it is already available in browser. When trait is selected there are three radio buttons in toolbar: Flat, Traits, Users.

[2019-03-30 20:11] dionisiydk commented on #3112
Let's list them:

1. ChangeSorterApplication>>#openChangeSetBrowser.
2. SystemNavigation>>#browseAllUsersOfTrait:.
3. SystemNavigation>>#browseClassesWithNamesContaining:caseSensitive:
4. FinderPragmaNode>>#browse.
5. NautilusRefactoring>>#openEnvironment:for:.

[2019-03-30 20:18] dionisiydk commented on #3112
And let's remember what Nautilus does in that cases.
It opened full browser where package list was collected for given classes. And when package was selected the class pane showed only classes from this list and from selected package.

For the record it did not work for FinderPragmaNode.

[2019-03-30 20:44] dionisiydk commented on #3112
Calypso does not support RB environments. There is no way to open FullBrowser on set of classes and have same semantics like in Nautilus.
I can imagine simple way to show packages from given classes. But restrict the class pane will require much more work.

But listed users can be supported differently. The QueryBrowser can be opened on any Calypso queries. It can show classes, class comments and

[2019-03-30 20:47] dionisiydk commented on #3112
And to have a fix with QueryBrowser we need to add new API to not have a dependency issue:
[code]
But it needs to be added to Calypso first.

[2019-03-30 20:49] dionisiydk commented on #3112
I added issue https://github.com/pharo-ide/Calypso/issues/476

[2019-03-31 02:15] bencoman commented on #3053
By "system" do you mean the OS?  I don't believe any 32-bit MS Windows systems exist anymore.

The starting question (@estebanlm) is whether Windows 32-bit VM will be supported for Pharo 8?

[2019-03-31 10:36] bstjean commented on #2484
If all you need is a 64-bit PRNG, then SplitMix64 is a good candidate both for speed (uses bit shifting, xoring and multiplication only) and it's very robust (statistically speaking).

http://xorshift.di.unimi.it/splitmix64.c

<blockquote></blockquote>

[2019-03-31 15:20] akgrant43 commented on #3066
I have a few thoughts on this, but I think it should be discussed on the pharo-dev list and will take a few days for me to write up.

[2019-04-01 07:09] MarcusDenker opened #3118 "Lots of failing test in latest build (image broken)"
The latest build has lots of tests failing, some even related to the class builder.

I propose to revert #3030 for now and check the PR carefully.

Revert PR:
https://github.com/pharo-project/pharo/pull/3117

[2019-04-01 08:09] MarcusDenker opened #3119 "Failing test on CI: MorphicTextInputFieldAdapterTest>>testMaxLengthIsSetInWidget"
MorphicTextInputFieldAdapterTest>>testMaxLengthIsSetInWidget fails on the CI

[2019-04-01 08:10] MarcusDenker commented on #3118
merged PR

[2019-04-01 08:10] #3118 closed, assigned to nobody

[2019-04-01 08:28] fuhrmanator commented on #2646
Can someone tell me how to work around this?

I currently have two images (one that I created to report a bug in iceberg) and now the other image is set to the bug-report branch of my repo. I think they're both pointing to the same repo, which is precisely why I created another image to report the bug. Anyway, how can I get my Pharo to stop sharing the repos? **Share repositories between images**

[2019-04-01 08:46] fuhrmanator commented on #2646
OK -- thanks to @jecisc I learned (again) that it's the **Local directory** setting that is causing the trouble with the shared repos (they're going into the same directory, which was the image of where I likely "stored" the settings, which is the heart of this bug).

The workaround is NOT to remove the value of **Local directory**, but rather to get rid of the settings file, so that new images do

[2019-04-01 09:16] guillep commented on #2978
Last week @Marmat21 and @dupriezt were looking into it and had more insights too. Maybe they can share them here?

[2019-04-01 11:47] #3019 closed, assigned to jecisc

[2019-04-01 13:13] MarcusDenker commented on #2965
Just got a mail from another new commuter (in german) who did not know what to do at this step. It is not clear that this is a drop=down menu.

[2019-04-01 14:34] guillep commented on #2471
Actually, it seems that finalization was not executed.
A more compact script that does the cleanup is the following:

[code]

[2019-04-01 14:49] dupriezt opened #3122 "Adding debugger test"
New test for step over

[2019-04-01 14:53] guillep commented on #2471
A bit more digging shows:

 - The hanging subscriptions that can be obtained from:

[code]

 - Are not in the weak registry:

[code]

While they should be:

[code]

[2019-04-01 15:05] guillep commented on #2471
Looking at all the users of these, there are only two methods where something strange is happening.
Those two methods are removing subscriptions from the WeakRegistry by hand, preventing the subscriptions to be correctly finalized (and thus cleaned up).
Funny thing that the code that says "avoiding memory leaks" seems to actually produce them :P.

Looks like these are the possible culprits, still

[2019-04-01 15:32] guillep commented on #2471
More digging, the default image comes with 20 broken subscriptions, which are 5 sets of the following 4 messages:

- #removedEventOccurs:
- #classRemovedEventOccurs:
- #modifiedEventOccurs:
- #addedEventOccurs:

Which are only defined in PragmaCollector

[2019-04-01 20:37] #3027 closed, assigned to Ducasse, jecisc

[2019-04-01 20:38] #3122 closed, assigned to nobody

[2019-04-02 07:46] guillep commented on #2471
Also, the issue is already present in the minimal image

[code]

But it goes away automatically by saving a couple of times

[code]

[2019-04-02 08:19] macta commented on #2828
Its just a temporary thing - but doesn't look great for new users. Interestingly, zero conf doesn't have this issue, its just PharoLauncher images from what I can tell.

[2019-04-02 08:44] guillep commented on #2471
The same in the latest image does not clean anymore:

[code]

[2019-04-02 11:12] MarcusDenker opened #3125 "Cleanups and improved ComputedSlot"
- remove MorphSlot (not used and not needed)
- remove HiddenInstanceVariableSlot (not needed)
- ComputedSlot: test and fix code to allow 0-arg block
- ComputedSlot add emitValue: to compile better code

[2019-04-02 11:49] MarcusDenker commented on #3080
fix for Pharo 8 has been merged

[2019-04-02 11:49] #3080 closed, assigned to nobody

[2019-04-02 12:08] #3125 closed, assigned to MarcusDenker

[2019-04-02 12:56] guillep opened #3128 "Rubric's text field should limit typing when maxLenght is set"
If Rubric's maxlength is set as in PR https://github.com/pharo-project/pharo/pull/3129, it should also limit input from typing.

[2019-04-02 14:00] guillep commented on #3128
I put @Ducasse and @plantec in CC so they are aware of this.

[2019-04-02 14:04] #2722 closed, assigned to jecisc

[2019-04-02 14:04] #3017 closed, assigned to jecisc

[2019-04-02 14:06] #3107 closed, assigned to nobody

[2019-04-02 14:14] MarcusDenker commented on #3068
see #2950. Maybe we should go back to the handwritten text parser for now

[2019-04-02 14:36] #3119 closed, assigned to guillep

[2019-04-02 15:31] guillep commented on #3053
Hi @bencoman I think both of them are on MacOS by reading the comments

[2019-04-02 15:45] tesonep opened #3131 "Install Benchmark plugin in Jenkins"
Installing the Benchmark plugin in Jenkins.
v1.0.8

[2019-04-02 15:53] tesonep commented on #3131
Solved!

[2019-04-02 15:53] #3131 closed, assigned to tesonep

[2019-04-02 16:16] bencoman commented on #3053
ahh yes, you are right.  My perception was biased by getting the same error myself with Windows Pharo 8 32-bit Image.

[2019-04-02 16:29] bencoman commented on #3068
@aranega, okay, looking at that method definition, what you says makes sense.  So this would give you what you want...
[code]
The next question then is what would be the impact on existing users #comments ?

[2019-04-02 17:44] astares opened #3132 "Consortium News are outdated"
http://consortium.pharo.org/web/news

has the latest news from 2017. This looks like there is no Pharo activity
anymore.

Anything we can do on that?

[2019-04-02 18:23] tinchodias commented on #3048
Hi @aranega, thanks for answering.

I checked briefly if there was something in [Pharo with Style](https://github.com/SquareBracketAssociates/Booklet-PharoWithStyle) to reference but didn't find it quickly.

One concrete argument is that other selectors that begin with with don't mutate self. At least, when I briefly inspected in Pharo 8 didn't find any (I used`SystemNavigation default allMethods

[2019-04-02 18:25] tinchodias commented on #3048
@ronsaldo

[2019-04-02 18:49] ronsaldo commented on #3048
I also vote for the copying behavior. For me it makes more sense.

[2019-04-02 19:23] svenvc commented on #3048
I vote for the second option

#withXYZ: should copy

[2019-04-02 21:13] estebanlm commented on #3132
ok, for now I just removed the news part (no idea why the feed is not working, but no time to fix it... also it was not a great idea either).
all the site needs a revamp :(

[2019-04-02 21:13] #3132 closed, assigned to nobody

[2019-04-03 09:08] guillep commented on #3053
This seems related to the file attributes plugin. @juliendelplanque, @GDayne, @bencoman could you test with the latest VM or with the VM build a838346 from http://files.pharo.org/vm/pharo-spur32/?

I've tested it on my machine and it works.

Thanks!

<blockquote><img src="/_h5ai/client/images/app-16x16.ico" width="48" align="right"><div><strong><a href="http://files.pharo.org/vm/pharo-spur32/">ind

[2019-04-03 10:26] akgrant43 commented on #3053
Also, open up the debugger and let us know exactly what is being passed to File class>>exists:

[2019-04-04 07:31] #3049 closed, assigned to astares

[2019-04-04 08:04] akgrant43 opened #3135 "ZnBufferedReadStream>>upToEnd performance"
ZnBufferedReadStream>>upToEnd currently retrieves buffers from the underlying stream and then writes them to a WriteStream, which grows its buffer in steps. For a 4M file approximately 15 buffers (ByteArray | String) of increasing size will be created, copied and discarded.

Since many streams know their size, #upToEnd can create and load a single buffer by using next: size - position.  This autom

[2019-04-04 19:40] tinchodias opened #3138 "Epicea should log image saving"
Re-open from:
https://pharo.fogbugz.com/f/cases/18754/Epicea-should-log-image-saving

[2019-04-04 19:43] tinchodias opened #3139 "Epicea: add search"
This includes:
- a search for entities across sessions.
- a search inside a session.

Re-open from: https://pharo.fogbugz.com/f/cases/20474/Epicea-Keep-filter-across-session-improve-search-of-code-entities

[2019-04-04 20:42] tinchodias commented on #2853
I have it partially fixed. It's a solution that works on my image but should write some tests. It required several workarounds due to the fact the ClassRemoved system announcement arrives when the class is already obsolete and it's not direct to get the real package names and class names.

[2019-04-04 20:46] tinchodias commented on #2775
Thanks for reporting

[2019-04-05 20:34] akgrant43 commented on #3135
PR: https://github.com/svenvc/zinc/pull/32

[2019-04-06 11:34] Ducasse opened #3140 "Fixing all executable comments."
Some executable comments are embedded inside the methods and this does not help the parser and drTests.

[2019-04-06 21:59] fuhrmanator commented on #2854
See https://github.com/pharo-vcs/iceberg/issues/1226

[2019-04-06 22:31] fuhrmanator commented on #2854
I needed to "store settings" because I use 2FA on GitHub and the only sane way to use Iceberg in that case is with SSH keys (the token is too long to type as a password that can't be memorized for all images). Therefore I wanted to have all (future) images to have the "use SSH keys" settings. But, storing the path of the local git repo to the same directory is a big problem. There doesn't seem to

[2019-04-07 19:58] Ducasse commented on #3128
Thanks Guille.

[2019-04-07 20:00] Ducasse commented on #3074
what is the commented last line? of the method testSelectorFilter?

[2019-04-07 20:32] akgrant43 commented on #3135
Merged.  Thanks, Sven!

[2019-04-07 20:32] #3135 closed, assigned to nobody

[2019-04-08 13:23] syrel opened #3143 "FFIExternalStructureReferenceHandle does not implement platformSizeTAt:"
`FFIExternalStructureReferenceHandle` does not implement `platformSizeTAt:` which makes it impossible to have `size_t` in `fieldsDesc` of `FFIExternalStructure`

[2019-04-08 13:39] syrel commented on #3143
Submitted pull request: [https://github.com/pharo-project/pharo/pull/3144](https://github.com/pharo-project/pharo/pull/3144)

[2019-04-08 13:42] syrel commented on #3143
Aha, this is a duplicate of [https://github.com/pharo-project/pharo/pull/3142](https://github.com/pharo-project/pharo/pull/3142)

closing

[2019-04-08 13:42] #3143 closed, assigned to nobody

[2019-04-08 22:58] jecisc opened #3145 "Compiling methods containing jpg of multiple Mo make the image unusable"
For a Seaside application, I compiled method containing JPG images of multiple Mo for a first dirty version of an application.

The result was that my image became unusable because Epicea then took ages to process the next events. Once I disabled Epicea, everything when back to normal.

[2019-04-09 08:04] Alisu opened #3146 "Smalltalk at: in NECContext."
There is Smalltalk at: message in the methods guessGlobal in NECContext and in NECGlobalEntry guessTypeFor: which make sense but it would be better to have a guessInEnvironment and a NECEnvironmentEntry.

[2019-04-09 10:17] khinsen opened #3147 "Class converted to trait is unusable"
When you start writing a class and then convert it to a trait, the first use of that trait in a class definition will raise an error ("add: should not have been implemented in Array").

Example (execute the first two statements before attempting the third one):

[code]

Reason: The trait retains the class' instance variable 'user', which is an array, whereas for a trait it should be an IdentitySet

[2019-04-09 10:34] khinsen commented on #3147
Here is a test case for the bug (I had to add a .txt extension to please GitHub). I managed to make `testClassMigratedToTraitHasIdentitySetForUsers` green with a small fix to `TraitBuilderEnhancer>>#beforeMigratingClass:installer:`, but the second test remains red and I have no idea why. This is a job for a trait expert!

[T2MigratingClassToTrait.st.txt](https://github.com/pharo-project/pharo/file

[2019-04-09 12:35] StephanEggermont commented on #2681
It should still go into there. Otherwise debugger driven development is made impossible.
https://vimeo.com/329317634 (at 6 min 55)

<blockquote><img src="https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F774106527_1280x800.jpg&src1=https%3A%2F%2Ff.vimeocdn.com%2Fimages_v6%2Fshare%2Fplay_icon_overlay.png" width="48" align="right"><div>Vimeo</div><div><strong><a href=

[2019-04-09 13:39] demarey opened #3148 "backport #2395 to Pharo 7.0 : Non-ASCII class and author names break SourceFileArray>>#getPreambleFrom:at:"
#2395 was integrated into Pharo 8.0 development branch but the problem is still there in Pharo 7.0

[2019-04-09 15:55] jecisc opened #3150 "GTSpecPreDebugWindow>>initializeCodePane is dead"

[2019-04-09 16:01] jecisc commented on #3150
In fact it is used via reflectivity.

[2019-04-09 16:01] #3150 closed, assigned to nobody

[2019-04-10 06:41] jvalteren opened #3151 "Pharo 7 crash on OS X while idle in background (possibly hibernated)"
I started a Pharo 7 image yesterday and left it running 'overnight', i.e. my MacBook went to sleep and because of low battery might have hibernated. Today, while busy using Firefox (no activity in Pharo), the message appeared that Pharo quit unexpectedly.

Please see the report data attached.

Edit: I'm running macOS High Sierra 10.13.6 (17G5019).

[Pharo_crash_report_20190410.txt](https://github.

[2019-04-10 07:18] MarcusDenker commented on #3150
in this case it helps to add a comment!

[2019-04-10 07:18] MarcusDenker commented on #3150
To describe "this method looks empty but it is called using #perform: from ... " or something

[2019-04-10 07:54] guillep commented on #3150
@jecisc why the spec pre debugger needs to use reflectivity?

[2019-04-10 08:00] #3140 closed, assigned to Ducasse

[2019-04-10 08:00] MarcusDenker opened #3152 "OCCompilerTest fails in Browser but not in TestRunner"
We should really make sure that the Browser and the Testrunner use the same logic to determine if a test is read or not.

OCCompilerTest is green in the test runner, but in Calypso some tests are yellow and some even read.

[2019-04-10 08:00] MarcusDenker commented on #3152
This has to do with a difference how the Error exception is handled, I think.

[2019-04-10 08:04] #3006 closed, assigned to MarcusDenker

[2019-04-10 09:21] MarcusDenker commented on #3150
Not that I know. (I took it to mean "reflection" in general, e.g. some perform: or something like that). But I can not find any reference to the selector anywhere.

[2019-04-10 09:37] jecisc commented on #3150
@guillep I think it is not really needed but it's how it is currently done.

There are two unnecessary things IMO.
- Use of performs in #createNotifierPaneWidgets
- Use of DNU to access the widgets of the pre debugger (which mark access to presenters as unimplemented methods)

[2019-04-10 10:08] MarcusDenker opened #3153 "Slots: Cleanups + some first ComposableSlot"
- #resolveSlot should raise SlotNotFound instead of error
- Very first ComposedSlot + some tests (more to be done)
- inline #initializeProperties
- remove #changingIn:, not send by the new class builder
- add DerivedSlot superclass for PropertySlot, BooleanSlot...
- Simplify WeakSlot
- add WeakSlotComposable (will replace WeakSlot later)
- refactor tests: one class per Slot Example

[2019-04-10 11:47] Ducasse opened #3156 "Use faster string primitives"
VMMaker.oscog-sk.2367
Author: sk
Time: 19 April 2018, 12:02:35.661622 pm
UUID: 0c2401e3-1450-4f73-8e81-958f50171595
Ancestors: VMMaker.oscog- nice.2366

** new primitive to compare strings (slang + JIT)
answers negative smi, 0 or positive smi (instead of 1, 2 or 3 in the MiscPlugin)

* Slang (primitiveCompareWith)
order is optionnal.
comparison loop performed in rawCompare: string1 length: strLeng

[2019-04-10 11:47] Ducasse commented on #3156
we should not use anymore

compare: string1 with: string2 collated: order
	"Return 1, 2 or 3, if string1 is <, =, or > string2, with the collating order of characters given by the order array."

	| len1 len2 c1 c2 |
	<primitive: 'primitiveCompareString' module: 'MiscPrimitivePlugin'>

	<var: #string1 declareC: 'unsigned char *string1'>
	<var: #string2 declareC: 'unsigned char *string2'>
	<var: #or

[2019-04-10 12:10] Ducasse commented on #3156
Hi Stephane,
If you google 'vm-dev VMMaker.oscog-sk.2367'
and click one of the first hits https://marc.info/?l=squeak-vm-dev&m=152413936110744&w=2

you'll see the changes from Sophie:
The new InterpreterPrimitives>>primitiveCompareWith should be linked to primitive 158.
(and only for ByteString comparison).

[2019-04-10 12:20] chisandrei opened #3158 "Trait: Overriden class side methods not added to classes using traits"
The code below creates a trait and adds two class side methods and two instance side methods:

[code]

The class side method `#ffiLibraryName` is also defined in Object.

When creating then a class using that trait, the class side method  `#ffiLibraryName`  is not added to the class.

[code]

The call to `#ffiLibraryName` raises an exception as the method defined in `Object` ends up being called:

[2019-04-10 12:48] guillep commented on #2975
Yes, this problem is there in Pharo 7 and Pharo8. We are working on a solution.

[2019-04-10 15:08] StephanEggermont commented on #3135
[Backport to 7 Performance]?

[2019-04-11 09:18] svenvc commented on #3151
Hi,

I am on macOS 10.14.4 on a MacBook Pro with 3 pharo 7 images open all the time, over sleep/wake cycles. That works fine for weeks.

But there have been similar error reports.

Changing fonts and/or going full screen seem to trigger problems (I avoid that). The assumption is that this is related to the FreeType code.

Sven

[2019-04-11 09:51] dupriezt opened #3161 "Add documentation on how ExceptionTests performs tests on exception"
The way ExceptionTests performs some of its tests can be a bit obscure at first glance. Adding documentation to explain this system will save some time to future readers.

[2019-04-11 11:18] SabineMa opened #3163 "MailMessage can not send mails with attachment in Pharo7"
In Pharo 7 it is no longer possible to send mails with an attachment with MailMessage.
This is the test example code. Works fine in Pharo 6 (needs to load zinc before for sending of the mails):

[code]

In Pharo7, the mail is sent but the file attached is empty.

After a lot of investigating I found the reason. In MailMessage>>regenerateText, this code causes the problem

[code]

Explanation: In c

[2019-04-11 11:20] SabineMa commented on #3163
I think this would be an easy fix because if encodedBodyText is a string already, it does not matter, sending 'contents' to it

[2019-04-11 12:18] svenvc commented on #3163
Yes, this is also what I did recently, send #contents to the readStream in MailMessage>>#regenerateText

It also took me some time to understand what was happening ;-)

I was just a bit unsure about the solution, as it felt more like a hack, and I was in a hurry.

Since we have now two similar fixes, it will probably be OK.

[2019-04-11 12:36] SabineMa commented on #3163
Thank you Sven. Honest to have found the same as you. And I created my first pull request with this, hope it is fine.

[2019-04-11 12:40] jecisc opened #3165 "MemoryLeak: Charge sorter"
In an image, I worked on Change Sorter and after I finished I ran some GC but I still had instances in my image.

It's possible we have a memory leak.

[2019-04-11 13:00] khinsen commented on #3158
I came here to exactly this bug, only to find it reported a day earlier.

There is a potentially useful observation I can add to this. If you remove `ffiLibraryName` from `TraitForTest` *after* defining `ClassWithTrait`, and then define it again, then `ClassWithTrait ffiLibraryName` will work as expected. I have been using that as a workaround to continue working on my code.

[2019-04-11 14:32] guillep opened #3168 "pharo.version file is hardcoding wrong version"
https://github.com/pharo-project/pharo/blob/0a066f1a987f9d6076dae40715092660be49b47a/bootstrap/scripts/transform_32_into_64.sh#L62

https://github.com/pharo-project/pharo/blob/9aa2b2655d0291397a17e303733c69c3c5d2198c/bootstrap/scripts/4-build.sh#L225

This breaks the pharo launcher assumption, opening a Pharo8 image with a Pharo7 VM.

[2019-04-11 14:52] jecisc opened #3170 "PreDebugger should work with Spec2"
The PreDebugger is currently breaking in Spec 2 which makes it hard to develop it. I'll migrate it to Spec2.

[2019-04-11 15:08] #3161 closed, assigned to nobody

[2019-04-11 15:52] #3168 closed, assigned to guillep

[2019-04-11 19:45] Ducasse opened #3172 "parseTreeFor: asymbol should be renamed parseTreeOfMethodNamed: aSymbol"
or parseTreeForSelector: aSymbol.

[2019-04-11 20:01] Ducasse opened #3173 "Logic of changeFactory references is suspicious"
RefactoryChangeFactory class >> instance
	^ RBRefactoryChangeManager instance changeFactory

RefactoringChangeManager class >> instance
	^ Instance ifNil: [ Instance := self basicNew initialize ]

RefactoringChangeManager >> changeFactory
	^ RBRefactoryChangeFactory new

I do not see the point to pass via the singleton if this is just to return a fresh instance each time.

[2019-04-11 20:05] jvalteren commented on #3151
Hi Sven,

Yes, I was using fullscreen with my image. I find it very useful to work in fullscreen, since it is very user-friendly to switch between desktops with a 3-finger swipe on the trackpad.

Would be nice if we could get this stabilized. Sorry I can't help with this...

Jonathan

[2019-04-11 20:08] Ducasse opened #3174 "RBRefactoryChange printOn: should call displayString"
subclass printOn: invoke superclass and do not use changeString.

[2019-04-11 20:11] Ducasse opened #3175 "RB*Change should work on environment and not Smalltalk globals"
and their new environment variable could be initialized to Smalltalk globals for now.

[2019-04-11 20:13] Ducasse opened #3176 "RB*Change should not shortcut the factory."
RB*Change have a factory but only the change manager use it.
Each change directly refer to other changes.
The change hierarchy should access to the refactoryfactory and it should be used
else it defeats the purpose.

[2019-04-12 05:20] akgrant43 commented on #3163
Hi @SabineMa ,

MailMessage uses MIMEDocument internally, which is extremely limited in its functionality.

I started to use ZnMimePart instead, but then got sidetracked on other projects.  If you find yourself needing to extend MIMEDocument you might like to think about switching to ZnMimePart.

HTH,
Alistair

[2019-04-12 09:27] jecisc opened #3177 "NEC should provide a hook to suggest the class of a variable with certain names"
This PR (https://github.com/pharo-project/pharo/pull/3155) remove a hack used by Seaside.

The goal of the hack is that, when seaside is loaded, the auto-completion will propose the brushes of Seaside when the variable is named `html` because naming a variable `html` is a big convention in Seaside.

This is pretty important for the usability of some framework like seaside to do that because brushe

[2019-04-12 13:35] guillep commented on #2581
Hi, finally we have found the cause of this bug (see http://forum.world.st/FreeType-and-the-over-amorous-glyphs-overlapping-td5098109.html).

I'll mark this issue as duplicate of #2336

<blockquote><div><strong><a href="http://forum.world.st/FreeType-and-the-over-amorous-glyphs-overlapping-td5098109.html">Pharo Smalltalk Developers - FreeType and the over amorous glyphs (overlapping)</a></strong><

[2019-04-12 13:35] #2581 closed, assigned to nobody

[2019-04-12 13:43] guillep commented on #2336
Hi all, we have found the cause of this problem finally with Pablo, this is due to race conditions in concurrent code calling FreeType. This bug was apparently always there but Calypso's lazy tabs (that are created in background processes) made this bug come to the surface.

Some solutions and more details are discussed here:
http://forum.world.st/FreeType-and-the-over-amorous-glyphs-overlapping-t

[2019-04-12 14:56] #2975 closed, assigned to guillep

[2019-04-12 15:38] guillep commented on #2854
This is not necessarily an Iceberg bug but a Pharo bug.
Iceberg calculates the directory where it will clone using Pharo's local directory.
The same will happen with Monticello's package-cache, the gt playground cache, and ombu's session directory. They are all stored in the local directory.

[code]

The problem is that going to settings, and clicking on "Store settings" will store the local direc

[2019-04-12 17:36] #3153 closed, assigned to MarcusDenker

[2019-04-13 06:00] estebanlm commented on #3150
tbh, the PreDebug window deserves a full rewrite (that I think we will do during the development of Spec2, at a point).

[2019-04-13 14:13] #3146 closed, assigned to nobody

[2019-04-13 14:28] svenvc commented on #3163
Alistair,

How would you rewrite Sabine's or any other example with MailMessage using ZnMimePart ?

Sven

[2019-04-14 15:34] plantec commented on #2676
This selection interval convention is inherited from PluggableTextMorph. It is like that since years. So not a bug and I don't see how it could be changed. In the future maybe when we will be able to drop Morphic and Rubric...

[2019-04-14 18:28] plantec commented on #2964
I've dug a little bit. How a styles is plugged is different from how it is implemented in PluggableTextMorph. Rubric uses EditingMode and to edit smalltalk from a Rubric morph one to send #beForSmalltalkCode to it.
ok, it works but after a new problem arise with the #interactionModel that was introduced when we wanted to improve Nautilus.
The question is: does #interactionModel still make sense  i

[2019-04-15 08:58] estebanlm commented on #3135
@StephanEggermont no :)

[2019-04-15 13:05] juliendelplanque opened #3184 "KeyboardKey class should have a method to get an instance from its name"
Something like `KeyboardKey>>#named:` that returns the correct instance depending on the name of the key.

e.g.
[code]

[2019-04-15 14:28] StephanEggermont commented on #2964
Are there other users that need it? Would it be difficult to modify Spec?

[2019-04-15 14:32] StephanEggermont commented on #3135
How does this impact the performance of the changes file?

[2019-04-15 14:47] svenvc commented on #3135
What do you mean by 'the performance of the changes file' ?

Do you have a use case of a performance issue ?

As far as I know, this thread/improvement has nothing to do with that.

And just for the record, the fastest way to read a whole file (in terms of IO operations) is, IMO,
[code]
Then you could do the binary>text conversion yourself, if needed
[code]

[2019-04-15 15:04] astares opened #3186 "UFFI Rename FFIExternalObject into FFIExternalPointer (and deprecate old name)"
According to a Discord discussion between "hfreyther" and @estebanlm:

 - FFIExternalObject has a bad name
 - and it should be named FFIExternalPointer

![image](https://user-images.githubusercontent.com/5980033/56143131-434c7100-5fa0-11e9-8da3-5ec63094ca93.png)

So I suggested for Pharo 8 to rename **FFIExternalObject** into **FFIExternalPointer**, and create an empty subclass FFIExternalObject w

[2019-04-15 15:25] guillep commented on #2336
Hi all,

To me it's super difficult to reproduce the issue in Pharo7.0.3. I was able to build a case to reproduce it but it's not reproducing it reliably enough < 3% of the times executed...

Here is a changeset that can be installed in Pharo7 or Pharo8
[FreeTypePatch.cs](https://github.com/pharo-project/pharo/files/3080838/FreeTypePatch.txt)

The patch introduces a serialization of other accesses

[2019-04-15 15:28] estebanlm commented on #2676
yup, I do not think this can be fix (or has sense to do it).
I think is better to adapt Spec2.

[2019-04-15 15:28] #2676 closed, assigned to nobody

[2019-04-15 21:02] macta commented on #2336
I was holding off to see how easily it occurs in my new 703 image, and when i flipped open my laptop it was there again - so it seems to appear readily once its kicked in. I'll try this change and see if it now slows or stops it.

[2019-04-16 09:32] Alisu opened #3188 "Some classes have an "users" property"
SymbolTest has an "users" property which is specific to trait whereas SymbolTest is a class (at least not a trait).

Edit: it seems a lot of classes (if not all) using trait gain an extra property "users" set at nil.
The only class using trait I found without it is the one i created from ClassDefinition.

[2019-04-16 12:15] MarcusDenker commented on #2299
this has been done

[2019-04-16 12:15] #2299 closed, assigned to MarcusDenker

[2019-04-16 12:19] MarcusDenker commented on #2757
I added: https://github.com/pharo-ide/Calypso/issues/481

[2019-04-16 12:20] MarcusDenker commented on #3072
#createRefactoring:for: could just be moved up to Slot

[2019-04-16 12:20] MarcusDenker commented on #3072
I added: https://github.com/pharo-ide/Calypso/issues/482

[2019-04-16 12:22] jecisc opened #3191 "Remove GLMAccumulator"
Because it is not really used and the renderer is full of broken code...

[2019-04-16 12:57] hogoww opened #3193 "Undeclared uncapitalized variable shouldn't offer a the possibility to create a Trait"
When saving a method that has undeclared variable, if the variable is uncapitalized it offer :
- add a temp var
- add an IV
- add a new trait

The offered definition of the trait is:
Trait named: #a
		uses:{}
		package: 'Phineas-Tests'
which (obviously) won't work.

I think the option should be either removed, or allow to add a new stateful Trait of which we have to choose the name, and the undecl

[2019-04-16 12:59] #3188 closed, assigned to tesonep

[2019-04-16 13:08] #3191 closed, assigned to jecisc

[2019-04-16 15:30] MarcusDenker opened #3196 "ObjectLayout: remove var compactClassIndex"
the var compactClassIndex is only set in #initialize but never read.

==> remove.

But this needs to be done manually in the text files of the git repo, as we can not change that class in the system (it is used by too many classes).

How to do it: do a PR with a manual edit of https://github.com/pharo-project/pharo/blob/Pharo8.0/src/Slot-Core/ObjectLayout.class.st

[2019-04-16 17:37] akgrant43 commented on #3163
Hi Sven,

Sorry for the slow reply.  I haven't looked directly at integrating MailMessage with ZnMimePart, but... MailMessage uses MIMEDocument to hold the body of the message.  From memory, MailMessage simply passes the source document off to MIMEDocument to parse, so it shouldn't be too difficult to replace MIMEDocument with ZnMimePart.   MIMEDocument is missing a lot of functionality, and addin

[2019-04-16 21:19] macta commented on #2336
Since adding this file-in I've had my image lock up twice now - once after saving, and another just browsing code. Cmd-. does nothing, the pharo osx menu is accessible and if I zoom and contract a few times eventually i can cause a redraw that just paints half the windows (previously there was a taskbar and other windows).

Not sure if this is this fix, or whether its mirage - but this shouldn't b

[2019-04-17 11:16] Alisu opened #3197 "ClassParser tests should be in ClassParser-Test"
Like the title describe: ClassParser tests should be in ClassParser-Test not in ClassParser package.

[2019-04-17 11:20] #3197 closed, assigned to nobody

[2019-04-17 19:59] akgrant43 opened #3198 "WaitfreeQeue>>nextOrNilSuchThat: memory leak"
WaitfreeQeue>>nextOrNilSuchThat: currently never removes zombie queue items, i.e. an AtomicQueueItem where the object points back to the dummy entry.  This means the list of items grows until #nextOrNil is called enough times to empty the queue, potentially growing the queue indefinitely and wasting memory and CPU cycles.

- Update the class comments to describe how thread-safety is achieved and t

[2019-04-17 21:20] astares opened #3199 "Cleanup testAsBit methods"
Cleanup the two #testAsBit methods

[2019-04-17 22:24] dionisiydk commented on #3072
It is better to improve refactorings to avoid this kind of methods at all. And we need to do this anyway to support more complex changes than simple accessors. Now rename, push up/down refactorings will break slot type: target class will include new slot as a simple instance variable. And maybe push up/down needs more advanced logic to move hidden base variable for complex slots.

So currently we

[2019-04-17 22:36] dionisiydk commented on #2757
Calypso method is a copy of ClassDescription>>#fileOutCategory: (I did the copy to support file out on any method group).
This method is still in image and it also asks stream for trailer.

In Pharo 6 this method does nothing. So yes, simple removal is enough

[2019-04-18 03:06] bencoman commented on #3196
I'm not really familiar with it but wonder if the VM depends on it?

On Tue., 16 Apr. 2019, 11:30 pm Marcus Denker, <notifications@github.com>
wrote:

[2019-04-18 07:38] astares opened #3201 "Spec-Deprecated package should have manifest"
- should have a manifest returning #isDeprecated with true to get a strike through in the browser

[2019-04-18 08:07] #3199 closed, assigned to astares

[2019-04-18 08:09] MarcusDenker commented on #3196
No, the VM does not know about the Layout... the layout is encoded in the format ivar of Behaviors for the VM.

[2019-04-18 08:51] SabineMa commented on #2757
i close this because of the new issue https://github.com/pharo-ide/Calypso/issues/481

[2019-04-18 08:51] #2757 closed, assigned to nobody

[2019-04-18 15:06] MarcusDenker opened #3203 "Add trait TSingleton"
This is the TSingleton fron https://github.com/pharo-project/pharo/pull/2528
(just the class, no code changed to use it)

[2019-04-18 15:13] jecisc opened #3206 "NautilusRefactoring contains dead code"
With Clément Dutriez we found some dead code in Nautilus refactoring + a bad usage of Spec.

We'll do a PR to remove it.

[2019-04-18 15:51] #3021 closed, assigned to nobody

[2019-04-18 16:10] 570gina opened #3209 "Two same buttons on the dialog"
log in to github
![image](https://user-images.githubusercontent.com/24423847/56374931-8a3aa080-6204-11e9-8057-c5fb663ec1b8.png)
it has two ok buttons.
(Pharo 8)

[2019-04-18 16:27] juliendelplanque commented on #3184
Fixed by PR #3185

[2019-04-18 16:27] #3184 closed, assigned to nobody

[2019-04-18 17:10] khinsen commented on #3203
Note that the `new` method of `TSingleton` suffers from https://github.com/pharo-project/pharo/issues/3158, i.e. classes using `TSingleton` will not respond to `new`. Not terribly important because all `new` does is raise an exception, but it might well cause a couple of test failures.

[2019-04-19 09:15] StephanEggermont commented on #3135
In the other direction, writing to the changes file with as much as possible notifications off took 30% of time in #setToEnd. Before the fixes @tesonep did.

[2019-04-19 11:51] estebanlm commented on #2261
well, technically... all UITheme has it :)

[2019-04-19 12:19] estebanlm commented on #2201
what happens with this? Still alive?

[2019-04-19 20:32] macta commented on #3151
I've seen this before too - I get it less now - I think it might be FreeType but I'm curious if you ever saved that image? If not, can you repeat - but save your image after going full screen - I suspect the save helps/clears something. If it still crashes, repeat again but don't use full screen (try alt-green to just max the window - this is what I did, but I think it might just be the save that

[2019-04-19 20:47] macta opened #3211 "Creating a missing class in debugger still shows it missing in browser/critique"
If you have a test method (but could be any method) referencing a missing class (either load it from a filein, or save it using the new leave undeclared menu option) and the create the class via the debugger by running the test, the class is correctly created however Calypso (possibly the code critic) still shows the class as undeclared.  Opening a new browser doesn't work - however running the te

[2019-04-19 21:46] macta commented on #3211
Something similar happens when deleting a class - it gets stuck with a DeletedClass reference even if the class is recreated.

[2019-04-20 20:08] #3206 closed, assigned to jecisc

[2019-04-20 20:11] #3201 closed, assigned to astares

[2019-04-20 20:11] #3193 closed, assigned to MarcusDenker

[2019-04-21 14:21] dionisiydk commented on #3211
I investigated the issue. And it seems it is old bug (not related to Calypso). It is same in Pharo 6.
Thee is some problem with updating cached ast of the method.
Following expression shows the issue:
[code]
It returns same critique when class is undefined and when you finally created it.
And the ast:
[code]

[2019-04-21 18:04] Ducasse commented on #3165
There should be one instance to hold the changes. Now not multiple ones.

[2019-04-22 05:58] akgrant43 commented on #3165
Not sure if this is related, but the window title suggests a similar issue:

"a SpecWindow(784367360) named: Dual Change Sorter on: Unnamed on: Unnamed on: Unnamed"

(I'd expect only one "on: Unnamed")

[2019-04-22 08:09] Ducasse commented on #3165
Yes :)

[2019-04-22 08:45] jecisc commented on #3165
It will be fixed with spec 2 synch

[2019-04-22 12:02] VincentBlondeau opened #3212 "[Iceberg] How can I do to resync the current image with the current branch?"
I made some changes in the pharo repo folder in a way that my image is unsync with my repo.

I would like to resync with the current checkout branch and remerge it but the options is not suggested...
See:

![2019-04-22_13-58-07](https://user-images.githubusercontent.com/4706329/56499601-56fb5880-6507-11e9-9cc3-f8ef51a499dc.gif)

How to I do to not create another branch nor loose my changes nor che

[2019-04-22 12:28] VincentBlondeau opened #3213 "ContinuationTest>>#testBlockEscape seems to cause some issues in the CI"
It saw the issue under windows and unix jobs:

https://ci.inria.fr/pharo-ci-jenkins2/blue/organizations/jenkins/Test%20pending%20pull%20request%20and%20branch%20Pipeline/detail/PR-3181/2/pipeline

I guess some IV access (in Continuation>> initializeFromContext: ) make the seg fault because they are invalid? Maybe after the copy of the image to make the runner thqt launch the tests?

[code]

[2019-04-23 09:56] jecisc opened #3214 "Spec synchronization"
I'll do a PR today with a Spec 2 synchronization.

[2019-04-23 12:12] CafeKrem opened #3217 "copy class do not copy class side instanceVariableNames"
copy a class where there are instanceVariableNames in class side
and you wil see that the new class do not have any instanceVariableNames in class side.

[2019-04-23 12:17] CafeKrem commented on #3217
Image
-----
/Users/clement/Documents/Pharo/images/NewTools-7/NewTools-7.image
Pharo8.0.0
Build information: Pharo-8.0.0+build.232.sha.32aa55cdd13de9c8d7e755d772583c29fc1cacf8 (64 Bit)
Unnamed

[2019-04-23 19:04] Ducasse opened #3218 "Clean Refactoring change tests"
Smalltalk -> Smalltalk globals
...

[2019-04-23 19:14] Ducasse opened #3219 "bad argument names!"
environment: anSmallTalkImage
	self compilationContext environment: anSmallTalkImage

=>

environment: anEnvironment
	self compilationContext environment: anEnvironment

[2019-04-23 19:31] Ducasse opened #3222 "RBChange hierarchy should avoid to point directly to RBRefactoryChangeManager changeFactory"
It is better to introduce an instance variable in the root of the change hierarchy and to initialize to RBRefactoryChangeManager changeFactory once for all.

We should chase and kill GLOBALS!

[2019-04-24 05:40] Ducasse opened #3224 "Fix ProperMethodCategorizationTest to not enforce running protocol."
Subclasses of TestCase should have #setUp methods in category running

I ***HATE*** this protocol. We should not enforce it. This is not because K. Beck once
categorise such methods in running that it should be.

I suggest that setUp and tearDown should be in a protocol name setup.

I will change that and the rule and I really wonder why we have this specific rule.

ProperMethodCategorizationTest

[2019-04-24 09:01] pavel-krivanek opened #3225 "RGPackage should be RGPackageDefinition"
There is a big mess in Ring naming. Most of the classes have the suffix -Definition however some of them like RGPackage not. In the Ring2 I named all the classes naturally (like RGClass) but in case of the package, I needed to use RGPackageDefinition to have the Ring2 loadable next to the original Ring.

We should fix it simultaneously in both versions. This will break some compatibility with exte

[2019-04-24 09:14] Ducasse commented on #3225
Tx pavel. Yes we should clean this. And I would like to package RGMethod Definition alone in a small package for version browsers and remove Ring.

[2019-04-24 16:13] jvalteren commented on #3151
It crashed on me again. This time not running fullscreen, but it happened shortly after switching screen scaling/resolution (on Mac). Not amused.

See attachment for crash report data.
[Pharo_crash_report_20190424.txt](https://github.com/pharo-project/pharo/files/3113234/Pharo_crash_report_20190424.txt)

So... what happens next with an issue like this?

[2019-04-24 16:31] macta commented on #3151
@jvalteren had you saved this image prior to it crashing (as mentioned above - I was getting this like you until I saved the image in question and then it stopped doing it - and I’ve been trying fullscreen in 703 and so far not seen it). Just a theory - thst might help diagnose (the fixes for free type might also be related - not sure yet)

[2019-04-24 16:47] bencoman commented on #3151
Intermittent crashes that don't have a way for others to reliably reproduce it locally are notoriously hard to resolve.  In rare cases crashes are due to bugs in hardware drivers like "com.apple.AMDRadeonX4000GLDriver" making it doubly hard for others to replicate.

Some things that would help is:
1. getting more background info on if/how-long you were running Pharo 6 without a problem
2. updating

[2019-04-24 17:27] macta commented on #3151
I will see if I can reproduce it like I could before - but will use 703 (for me, it was osx high Sierra and 701 where I got the problem in a fresh image last unsaved for 8+ hours).

[2019-04-25 06:09] #3224 closed, assigned to nobody

[2019-04-25 06:11] #3218 closed, assigned to nobody

[2019-04-25 07:49] #3219 closed, assigned to nobody

[2019-04-25 08:15] dupriezt opened #3228 "RBSequenceNode and RBArrayNode contain instances of RBStatementNode according to their comment, but this class does not exist"
Extract from the comment of RBSequenceNode and RBArrayNode:
`statements	<SequenceableCollection of: RBStatementNode>	the statement nodes`

The issue is that there is no class RBStatementNode.

Another point is that what these two classes mean by "statement" seems to differ:
- For RBSequenceNode, a "statement" probably means "a RBReturnNode or RBValueNode".
- But one cannot put a return statement i

[2019-04-25 10:54] astares commented on #3224
Unfortunately there is no reasoning (beside personal preferences and "hate") given for this PR.
You do not even explain why "setup" is better than "running"?

There was a clear reason why Kent used this name: because methods in this protocol are used to prepare or end "running" of the tests. And that's why I wrote this rule.

Using "setup" as category / protocol name is misleading as methods withi

[2019-04-25 13:43] astares opened #3229 "RubAnnotationDisplayer fontToUse has a trait conflict"
RubAnnotationDisplayer>>#fontToUse method has a trait conflict (from TRubWithWrapPolicy + TRubWithLineNumber)

[2019-04-25 15:45] MarcusDenker commented on #3217
I think this is because #fillFor: does not set the variables on the class side. It misses a line

		classSlots: aClass class localSlots;

[2019-04-25 15:48] Ducasse opened #3231 "Fix setup -> running for image level"

[2019-04-25 15:49] Ducasse commented on #3231
I introduce the fact that setUp can be in setup or running protocol but I will revert it.

[2019-04-25 16:15] astares opened #3233 "Windows file references broken in P8"
Windows 10

[code]
works in Pharo 7 and gives empty Array (when not readable) - but not anymore in Pharo 8

Same for

[code]

[2019-04-25 16:39] svenvc commented on #3233
Does it fail on the space or what ?

Can you be more specific ?

And how come this did not get caught by unit tests ?

[2019-04-25 17:16] #3231 closed, assigned to Ducasse

[2019-04-25 17:41] AtharvaKhare commented on #3233
Windows 10, Pharo 8 64bit:

Tried `'C:\Program Files' asFileReference` and it works.
Tried `'C:\Documents and Settings' asFileReference` and it throws `FileException '/C:/Documents and Settings'`.
![err1](https://user-images.githubusercontent.com/19401826/56756468-71575f80-67af-11e9-9b76-fd5fb4f3e48c.PNG)
![err1 5](https://user-images.githubusercontent.com/19401826/56756478-761c1380-67af-11e9-821a

[2019-04-25 17:43] astares commented on #3233
@AtharvaKhare

I guess the "Document and Settings" is a shortcut and is not readable in your system. Right?

![image](https://user-images.githubusercontent.com/5980033/56756624-7659e600-6792-11e9-96aa-ff24aae1aa5d.png)

[2019-04-25 17:45] astares commented on #3233
@svenvc  It seems to happen when you have this (or other permission restriced folders) on windows.
But in Pharo 7 it worked while on Pharo 8 it fails - on the same system.

So I guess something changed in the image or FilePlugin.

[2019-04-25 17:51] AtharvaKhare commented on #3233
@astares
Yes, "Documents and Settings" is a shortcut, and I do not have permissions to view it (without changing any settings).

Opening a shortcut of some other folder works.

[2019-04-25 18:28] dionisiydk commented on #3233
Little observation:
We should introduce kind of UnrecognizedFileException for such cases which will keep unknown errorNumber.
Now it is quite confusing to see base error class.

[2019-04-25 18:30] akgrant43 commented on #3233
What's the value of errorNumber?

[2019-04-25 19:49] astares commented on #3233
When I run

 "'C:\Dokumente und Einstellungen' asFileReference children"

errorNumber is -9

[2019-04-25 19:51] Ducasse opened #3234 "CDNode got polluted with extension methods that are on reflectivity for nodes"
Hi Denis

Why you did not package the extensions made by reflectivity on RBNode on the reflectivity package and not CDNode. Because now I will have to repackage them.

Stef

[2019-04-25 19:55] Ducasse opened #3235 "Why CDClassDefinition now depends on Compiler?"
binding
	| classBinding |
	classBinding := self existingBindingIfAbsent: [className -> nil].
	^OCLiteralVariable new
		scope: originalNode scope;
		assoc: classBinding

[2019-04-25 19:59] Ducasse opened #3236 "isInstance is not consistent with isClassVariable"
isInstance should be deprecated into isInstanceVariable.
And of course this bad API propagate to ClassDefinitionNode.

I would love that we pay a bit attention to consistency in Pharo.

[2019-04-25 20:25] Ducasse opened #3237 "What is RBProgramNode >> dumpOn:"
Why there is not a single comment!
Why this is not a visitor because it strives for it.

[2019-04-25 20:26] Ducasse opened #3238 "Cleaning ClassDefinition package"
There are some little glitches to fix.

[2019-04-25 20:35] akgrant43 commented on #3233
Thanks, Torsten.  -9 is Can't Open Directory, which is consistent with it being a permissions problem.

On Linux in Pharo 8 I get the same error as shown above when trying to access a directory that I don't have permissions for.  But in Pharo 7 I get a DirectoryDoesNotExist error.

I agree with Dennis that we should have a better error (e.g. CantOpenDirectory), but I think that both returning an e

[2019-04-25 20:39] Ducasse opened #3239 "CDNode protocols look totally broken"
CDNode protocols look totally broken. Look at the picture

[2019-04-25 20:40] Ducasse commented on #3239
![Screen Shot 2019-04-25 at 22 39 11](https://user-images.githubusercontent.com/432549/56767001-0572f800-67ab-11e9-958b-005d71017d52.png)

[2019-04-25 20:55] dionisiydk commented on #3236
Notice it is the state of ast-nodes API.
We should improve it all together and maybe first we need unify hierarchies

чт, 25 апр. 2019 г., 20:59 StéphaneDucasse <notifications@github.com>:

[2019-04-25 21:02] dionisiydk commented on #3234
Hi Stef.

No intention here. It needs to be fixed.

чт, 25 апр. 2019 г., 20:51 StéphaneDucasse <notifications@github.com>:

[2019-04-25 21:08] dionisiydk commented on #3235
Intention was to behave like RBVariableNode.

чт, 25 апр. 2019 г., 20:55 StéphaneDucasse <notifications@github.com>:

[2019-04-25 21:33] astares commented on #3231
@Ducasse  Thank you - this is highly appreciated! Let's have a beer / wine once we meet again for some Smalltalk.

[2019-04-25 21:39] astares commented on #3233
@akgrant43 Please note that returning an empty array is correct behavior as I asked for the children or directories within the directory, not the directory itself.
This was working in Pharo 7 and before - but is broken in Pharo 8.

So I'm not asking for the directory itself (which is existing and returned) - but anything below (entries, subdirs, children, ...)

[2019-04-26 05:56] akgrant43 commented on #3233
To get the entries below the directory you open the directory and read it, so if you don't have permission to do that you can't know what it contains, whether it is or isn't empty, e.g. if root has access to the files:

[code]

but I don't:

[code]

Even if I have access to the specific file, I can't get to it if I don't have access to the containing directory:

[code]

What am I missing?

Cheers,

[2019-04-26 07:45] aranega commented on #3237
@Ducasse

I'm the one who wrote this

Actually nothing related to lisp or anything. The dump method generates the pharo code you need to write to have the equivalent of your ast. You can copy paste the code from the inspector in a playground and execute it directly.  This code gene is very handy when you need to write complex AST fragments and add them in your code (e.g, in reflectivity for reific

[2019-04-26 07:46] MarcusDenker opened #3241 "install probot to suggest us to not forget reviews"
https://probot.github.io/apps/minimum-reviews/

-> it does not maker merging impossible
->but makes it obvious that we want a review

[2019-04-26 07:49] fuhrmanator opened #3242 "Better usability in Create after DNU"
One of my favorite features of Pharo is the ability to create new things after a Does Not Understand. However, I think the process needs some improving in the user experience.

![image](https://user-images.githubusercontent.com/7606540/56791505-819b2900-6807-11e9-860a-0cceb6ac8e1f.png)

It's too easy (when we're coding quickly) to choose `Object` in the list above. I have done it, and it's a huge

[2019-04-26 07:59] MarcusDenker commented on #3114
this might be fixed by PR #3230

We need to write a test for the class builder for this case

[2019-04-26 08:19] MarcusDenker commented on #3236
Yes, I used #isInstance it to be consistent with RBVariableNode.

[2019-04-26 09:34] MarcusDenker opened #3243 "compiler overlay: support traits and make the package configurable"
#startUsingOverlayForDevelopment should support traits.

in addition, the classes to be copied could be defined in a method and easy to change.

[2019-04-26 09:43] jecisc opened #3245 "We should have a check on protocol names"
It is possible outside Pharo to edit some tonel code and to have "empty" protocols (protocols that are just empty strings).

Currently, Pharo will load the code but Calypso cannot display it.

We discussed with Steph and we think that the solution is to check while loading the code if a protocol is valid. If not, the protocol should be set to as yet classified.

[2019-04-26 09:50] jecisc opened #3246 "Compiling a class does not reset the cache of compiled method using it"
If you write a method using an undeclared class and then create the class, the AST of the compiled method will not be reset and will still reference the undeclared.

With Theo, we will propose a PR to correct this.

[2019-04-26 09:57] jecisc commented on #3211
With Theo we did a first step with this PR: https://github.com/pharo-project/pharo/pull/3247

After this one, the critiques will be fine. The only problem remaining is that Calypso will not update the rules itself.

[2019-04-26 11:18] #3217 closed, assigned to MarcusDenker

[2019-04-26 11:21] #2590 closed, assigned to jecisc

[2019-04-26 12:21] #3241 closed, assigned to nobody

[2019-04-26 12:23] hogoww opened #3250 "RBTemporaryNode shouldn't be visited as ArgumentsNode"
For a sequences nodes, temporaries declarations are visited as arguments.
They shouldn't.
PR in progress to add an intermediary hook, while retaining old behavior.

[2019-04-26 12:26] MarcusDenker commented on #3243
review at the sprint

[2019-04-26 12:29] Alisu commented on #3147
You should remove the class first. When you redefine a Class to a Trait an Error should be raise. See #3251

[2019-04-26 12:49] #3243 closed, assigned to MarcusDenker

[2019-04-26 12:54] MarcusDenker commented on #3196
the PR: https://github.com/pharo-project/pharo/pull/3208

[2019-04-26 12:54] MarcusDenker commented on #3196
has been merged

[2019-04-26 12:54] #3196 closed, assigned to nobody

[2019-04-26 13:02] #3239 closed, assigned to nobody

[2019-04-26 13:25] #3222 closed, assigned to nobody

[2019-04-26 13:26] #3225 closed, assigned to pavel-krivanek

[2019-04-26 13:59] Alisu commented on #2998
Is there still a bug or can someone close it ?

[2019-04-26 14:05] jecisc opened #3256 "Remove Halt from Kernel"
I propose as a first step to move Halt from Kernel and put it in Debugging-Core.

[2019-04-26 14:06] juliendelplanque commented on #2998
It has been fixed in https://github.com/pharo-vcs/iceberg/pull/1223, I close.

[2019-04-26 14:06] #2998 closed, assigned to nobody

[2019-04-26 18:59] Ducasse commented on #3245
We should check the category setter or protocol: setter and make sure that it does not set empty string.

[2019-04-26 18:59] Ducasse commented on #3239
Tx cyril

[2019-04-27 16:43] hogoww opened #3262 "LiteralValueNode shouldn't be visited using #visitLiteralNode:"
LiteralValueNode should have their own visit hook method.
LiteralNode should also keep their hook, to be able to factorize LiteralArrayNode & LiteralValueNode visits.

[2019-04-27 16:47] Ducasse opened #3263 "Looks like the build is broken"
MessageNotUnderstood: Context>>sourceNodeExecuted

[2019-04-27 17:06] Ducasse opened #3264 "Color API is totally confusing"
Many messages suggest that the receiver is changed and a new color is returned.
For example beOpaque, adjustBrightness:, alpha: ...

I would love to have a naming convention showing that a color is modified or that a new color is created and returned.

Suggestions are welcome.

[2019-04-27 19:05] Ducasse opened #3265 "toString is not used in CDTraitAliasNode and friends."

[2019-04-27 19:08] Ducasse opened #3266 "= #nil in undefinedClassResolver looks dubious."
existsClassNamed: className

	^ className = #nil or: [ self environment includesKey: className ]

[2019-04-28 06:53] Ducasse opened #3269 "Make EmergencyEvaluator work again"
Then we will improve it.

[2019-04-28 07:54] #3238 closed, assigned to nobody

[2019-04-29 08:51] #3245 closed, assigned to nobody

[2019-04-29 09:38] #3214 closed, assigned to jecisc

[2019-04-29 09:53] MarcusDenker opened #3272 "Slot Demo: HistorySlot"
add a demo: History slot.

It saves 5 old values.

[2019-04-29 12:46] jecisc opened #3274 "ZeroConf does not bring version file"
To help with the PharoLauncher, Pharo comes with a version file. The problem is that this file is not present when we get the image via zero conf. Thus we cannot ship it with our project when we build a custom image on Jenkins.

[2019-04-29 19:05] astares commented on #3233
Simple - you miss the obvious: I talk about WINDOWS here, so a unix example might not help.  ;)

It's totally broken for this platform. Whatever has changed it looks like it was never tested on Windows:

[code]
crashes hardly in Pharo 8 but works in Pharo 7

![image](https://user-images.githubusercontent.com/5980033/56919987-4d06c600-6ac2-11e9-9560-e689e34ccc18.png)

[2019-04-29 19:22] astares commented on #3233
I have a "D:" drive without a CD in it, so I guess it is not readable.

Difference seems to be:

in P7:
[code]
this returns 0

In P8 this gives

![image](https://user-images.githubusercontent.com/5980033/56920979-edf68080-6ac4-11e9-9f90-8f8771b9e319.png)

[2019-04-29 20:06] Ducasse opened #3275 "Rename method Refactoring leads to infinite warning in latest image"
/Users/ducasse/Documents/Pharo/images/P8Evaluator/P8Evaluator.image
Pharo8.0.0
Build information: Pharo-8.0.0+build.247.sha.57e3eb84cac4564882b47b87e2a977199fbe2470 (64 Bit)
Unnamed

May be Spec2 side effect.
Good news
	- reproducible
	- can stop with cmd .

Stef

[2019-04-29 20:24] akgrant43 commented on #3233
True, and I realise that, but I don't have easy access to a Windows system, so was hoping that it would translate.  Unfortunately it doesn't.

OK, this is a separate issue to what you originally raised.

I'll respond to the next post.

[2019-04-29 21:12] akgrant43 commented on #3233
Pharo 7 appears to be inconsistent:

[code]

returns 0, but:

[code]

triggers a "DirectoryDoesNotExist Path / 'D:'".  Pharo 8 is at least consistent: it triggers the does not exist error in both cases.  Of course, the fact that basic tools like the inspector don't handle it isn't good.

Going back to the original issue about 'C:\Documents and Settings':

Attempting to read the directory in a DOS

[2019-04-30 09:09] estebanlm opened #3276 "adding initializeSlots: may break instance initialization"
`initializeSlots:` is being added to class initialize when we define slots who `wantsInitalization`.

The problem is that it is being added as last action of the initialize method and it should be the first (because the initialisation chain could be giving value to the variables that will be reseted when calling initializeSlots).

Additionally, `initializeSlots:` is being added without taking into

[2019-04-30 09:43] #3272 closed, assigned to nobody

[2019-04-30 09:54] MarcusDenker commented on #3276
I wonder if we could just do the initializeSlots: by default... it would slow down #new a little, though.

[2019-04-30 10:03] MarcusDenker commented on #3263
This means that someone merged something that should not have been merged.

[2019-04-30 10:49] MarcusDenker commented on #3263
The build is read: https://ci.inria.fr/pharo-ci-jenkins2/job/Test%20pending%20pull%20request%20and%20branch%20Pipeline/job/Pharo8.0/

But it does not look bad: random crashes, the build seems to have succeeded

<blockquote><img src="/pharo-ci-jenkins2/static/8f90ef01/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.inria.fr/pharo-ci-jenkins2/job/Test%20pending%20pull%20reques

[2019-04-30 11:16] MarcusDenker opened #3278 "Mac Slave seems to be not working"
https://ci.inria.fr/pharo-ci-jenkins2/computer/pharo-ci-jenkins2-osx/

"This agent is offline because Jenkins failed to launch the agent process on it"

I will restart it

[2019-04-30 11:20] MarcusDenker commented on #3278
Hmm. even after restart:

ERROR: Server rejected the 1 private key(s) for ci (credentialId:inria-ci-bb88-497b-8273-9816ad591d24/method:publickey)
[04/30/19 13:20:10] [SSH] Authentication failed.
Authentication failed.
[04/30/19 13:20:10] Launch failed - cleaning up connection
[04/30/19 13:20:10] [SSH] Connection closed.

[2019-04-30 11:58] MarcusDenker commented on #3278
macOS is up again now. (not sure why it did not work after the restart... maybe it just took a while)

[2019-04-30 11:58] #3278 closed, assigned to nobody

[2019-04-30 12:24] MarcusDenker commented on #3263
Seems to be ok again: https://ci.inria.fr/pharo-ci-jenkins2/job/Test%20pending%20pull%20request%20and%20branch%20Pipeline/job/Pharo8.0/buildTimeTrend

<blockquote><img src="/pharo-ci-jenkins2/static/8f90ef01/favicon.ico" width="48" align="right"><div><strong><a href="https://ci.inria.fr/pharo-ci-jenkins2/job/Test%20pending%20pull%20request%20and%20branch%20Pipeline/job/Pharo8.0/buildTimeTrend">Pha

[2019-04-30 12:24] #3263 closed, assigned to MarcusDenker, estebanlm

[2019-04-30 14:00] Ducasse opened #3279 "UndefinedClass cleaning"
We should clean a bit the undefined package.

[2019-04-30 15:36] Ducasse commented on #3266
Checked and duplicated of #3279

[2019-04-30 15:36] #3266 closed, assigned to nobody

[2019-04-30 20:43] akgrant43 commented on #3233
Quick update:  I believe I've resolved all of the issues raised above except the "Document and Settings" issue which will require an update to the FileAttributesPlugin to handle Windows junction entries.

I'll add some automated tests and submit a PR.

[2019-05-01 07:57] #3279 closed, assigned to nobody

[2019-05-01 07:58] #2185 closed, assigned to nobody

[2019-05-01 08:49] astares commented on #3233
Thank you!

[2019-05-01 09:51] akgrant43 commented on #3233
The attached screen shot shows the new behaviour.

In particular:

[code]

doesn't trigger the FileDoesNotExistException (because FileSystem on Windows now has a root entry and the inspector handles entries that can't be read).

![Screenshot from 2019-05-01 11-45-44](https://user-images.githubusercontent.com/2062166/57012514-2d2cea80-6c07-11e9-8738-22814e6a185d.png)

PR on the way.

[2019-05-01 15:23] akgrant43 opened #3282 "Attempting to get attributes of a Windows junction directory fails"
As reported in #3233, attempting to inspect a junction directory triggers a FileException, e.g.:

[code]

[2019-05-01 15:25] akgrant43 commented on #3233
PR: #3281

Issue for the junction directory problem: #3282.  This issue should be restricted to the problems with Windows root directory and inspection.

[2019-05-02 08:00] CafeKrem opened #3284 "[iceberg] #ifTrue: was sent to nil ( PanelMorph >> #DoItIn: ) when click on 'add' button and on 'ok' button in repair repository window"
when i want to to repair a repository i have 3 choices (clone the repository , locate in your ofileSystem or no selectedItem)  for each choice when i click on 'ok' button he send me #ifTrue: was sent to nil.

The same error when i click on 'add' button in the repository browser

Image
-----
/Users/clement/Documents/Pharo/images/NewTools-18/NewTools-18.image
Pharo8.0.0
Build information: Pharo-8.0.

[2019-05-02 09:33] StephanEggermont commented on #3275
- wrong deprecation message: ‘The forCode functionality has moved to TextCodePresenter, please use it instead TextPresenter’ -> class does not exist, only CodePresenter. Also, should not be deprecated, but used to instantiate the CodePresenter subclass on the AbstractTextPresenter, which should be renamed (Use as a factory hiding which subclass is created)

[2019-05-02 09:41] StephanEggermont opened #3285 "ComposablePresenter needs to delegate widget instantiation to its application"
The application needs to be able to override which widget is created, hard coding the class of widget to instantiate in ComposablePresenter makes customization unneccessarily hard

[2019-05-02 09:55] StephanEggermont opened #3286 "FTTableMorph refers to rows instead of cells"
A table consists of cells, not rows. There are a lot of references to rows, that should be systematically replaced by cells. The DataSource default interface needs to be cells. Next to a row-centric, also a column-centric view is needed.

[2019-05-02 12:21] Alisu opened #3287 "aTrait isClass should be false"
aTrait isClass anwser true.

[2019-05-03 09:20] MarcusDenker opened #3289 "#beForText is deprecated but there are two senders"
... one is in createNotifierPaneWidgets of the debugger.

This means that one gets an infinite loop as soon as the debugger tries to open

[2019-05-03 10:41] MarcusDenker opened #3291 "Deprecation: The method AbstractListPresenter>>#menu: called from EpLogBrowserPresenter>>#initializeItemsPresenter has been deprecated."
Lots of messages in the build log:

*** Warning: Deprecation: The method AbstractListPresenter>>#menu: called from EpLogBrowserPresenter>>#initializeItemsPresenter has been deprecated.
Use #contextMenu: instead. The old way to create a MenuPresenter was this method taking a MenuMorph as parameter. This will not work with other backend and will be totally removed in Pharo7. Now you should use #cont

[2019-05-03 11:51] #3276 closed, assigned to nobody

[2019-05-03 12:01] StephanEggermont commented on #3289
#3275

[2019-05-03 12:22] jecisc commented on #3291
We can correct it but not with the full current features. To port it well we need Lieutenant. @juliendelplanque Do you know when we will be able to try it?

[2019-05-03 13:12] MarcusDenker opened #3292 "add example: LazySlot"
A slot that is lazy initialized with a default value.

Lazy initialized instance variables are implemented in Smalltalk by doing a nil check in the read accessor method, but then one has to use the accessor.

The slot instead does the nil check as part of the slot read operation.

[2019-05-03 13:42] #3289 closed, assigned to nobody

[2019-05-03 13:43] #3269 closed, assigned to nobody

[2019-05-03 15:05] StephanEggermont opened #3296 "RubTextAreaExamples typos"

[2019-05-03 15:06] StephanEggermont commented on #3296
Closed by #3295

[2019-05-03 15:53] VincentBlondeau commented on #2938
@estebanlm @tesonep @guillep : What is missing in the second PR to be integrated?

[2019-05-04 10:47] #3296 closed, assigned to nobody

[2019-05-04 13:00] #3292 closed, assigned to nobody

[2019-05-05 06:07] akgrant43 opened #3297 "ZnMimeType parameter names should be lowercase"
ZnMimeType class>>fromString: assumes that parameter names in the header will always be lowercase, however when parsing emails this isn't always true.  (I received an email from an insurance company in February this year that capitalises the boundary parameter).  Gmail parses the email without issue.

PR on the way.

[2019-05-05 06:42] akgrant43 commented on #3297
PR: https://github.com/svenvc/zinc/pull/35

@svenvc The PR is deleting a whole lot of methodProperties.json files.  I assume that this is the result of recent changes to Iceberg.  I downloaded the latest Pharo 8 image and then loaded your Zinc repository to make the patch.  When committing the change there were only two methods, as expected (ZnMimeType class>>fromString: and ZnMimeTypeTests>>testP

[2019-05-05 16:35] akgrant43 commented on #3297
Merged in to upstream.  This will eventually filter through to Pharo 8.  Thanks, Sven!

Closing.

[2019-05-05 16:35] #3297 closed, assigned to nobody

[2019-05-05 16:56] akgrant43 opened #3299 "ZnCRLFReadStream"
MIME documents should use CRLF line ending to meet RFC 2045, however many email documents (which are MIME encoded) fail to do this and use the local line ending convention, e.g. LF.

ZnCRLFReadStream wraps a binary stream and converts the three common line endings, i.e. LF, CR and CRLF, to CRLF.

An alternate approach would be to make the MIME parsing classes more forgiving and accept any of the c

[2019-05-05 17:11] bencoman commented on #3286
What is the status of this GSoC work...?
https://github.com/SamTheDev/Morphic-Widgets-FastTable

<blockquote><img src="https://avatars0.githubusercontent.com/u/2827220?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/SamTheDev/Morphic-Widgets-FastTable">SamTheDev/Morphic-Widgets-FastTab

[2019-05-05 17:22] akgrant43 commented on #3299
PR: https://github.com/svenvc/zinc/pull/36

[2019-05-05 17:35] jecisc commented on #3286
In Pharo 8 I cleaned some of the work and integrated it. (Some part of the design were not good).
It includes cell selection and column sorting.

I still need to find some time to clean and integrated cells template like editable text cells, calendar cells, ...

[2019-05-05 17:38] jecisc commented on #3286
The repository in which I did my cleanings before integrating in Pharo is https://github.com/jecisc/Morphic-Widgets-FastTable

<blockquote><img src="https://avatars1.githubusercontent.com/u/9519971?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/jecisc/Morphic-Widgets-FastTable">jecisc

[2019-05-06 07:53] Ducasse opened #3300 "Could we have better comment for Slot>>emitStore:"
Why Object new and not #foo for temp name.
What is the logic?
Needs comments
Why this code is duplicated in subclasses?

emitStore: aMethodBuilder
	| tempName |
	tempName := Object new.
	aMethodBuilder
		addTemp: tempName;
		storeTemp: tempName;
		popTop;
		pushReceiver;
		pushLiteralVariable: #slot -> self;
		pushTemp: tempName;
		send: #writeSlot:value:

[2019-05-06 08:15] CafeKrem commented on #3284
it was fix by someone

[2019-05-06 08:15] #3284 closed, assigned to nobody

[2019-05-06 14:12] akgrant43 commented on #3299
Merged in to upstream.  Thanks, Sven!

Closing.

[2019-05-06 14:12] #3299 closed, assigned to nobody

[2019-05-06 14:13] cdlm opened #3301 "RPackageSet is not a set"
From the class comment it seems like `RPackageSet` was intended as a set of packages whose names match some pattern. However, according to the code, the `packages` instance variable can only ever contain one package 🤔

[2019-05-06 15:03] bencoman opened #3302 "File Browser > Changes - FileList DNU #readStream"
1. Tools > File Browser
2. Select an ST file
3. Click *Changes*

==> Instance of FileList did not understand #readStream

Fix is to change that to #readOnlyStream as hinted at... https://pharo.fogbugz.com/f/cases/19859

[code]
And same for ```ExternalBrowser>>serviceBrowseCode```

(P.S. Its strange that case indicates it was integrated but it seems to be missing.)

Can this also be backported for

[2019-05-06 15:05] bencoman opened #3303 "Backport Pharo 7 - File Browser > Changes - FileList DNU #readStream"
Can Pharo 8 issue #3302 be backported for the next Pharo 7 minor release. It would be pretty jarring for a newcomer browsing around features. And fix is simple.

1. Tools > File Browser
2. Select an ST file
3. Click
==> Instance of FileList did not understand #readStream

Fix is to change that to #readOnlyStream as hinted at... https://pharo.fogbugz.com/f/cases/19859

ExternalChangesBrowser>>servi

[2019-05-06 15:12] bencoman opened #3304 "Instance of SpecMultipleSelectionMode did not understand #selectedItem"
I understand that Spec is in transition, just documenting a case to be handled.
After fixing issue #3302, for an ST file in File Browser clicking <Changes> button
the clicking on a row in Changes Browser produces error "Instance of SpecMultipleSelectionMode did not understand #selectedItem"

[code]

[2019-05-06 15:35] bencoman commented on #3304
I was doing up a PR but find the FileList>>readOnlyStream is using deprecated FileStream
[code]
so another solution is required for Pharo 8. I'm not familiar with what the planned replacement should be so I'll have to leave it to others.

[2019-05-06 15:36] bencoman commented on #3302
I was doing up a PR but find the FileList>>readOnlyStream is using deprecated FileStream
[code]
so another solution is required for Pharo 8. I'm not familiar with what the planned replacement should be so I'll have to leave it to others.

[2019-05-06 15:38] jecisc commented on #3304
Hello Ben,

For future issues on Spec2 could please open them at: https://github.com/pharo-spec/Spec/issues ?

This is the repository I look at the most when working on Spec. Thank you!

<blockquote><img src="https://avatars1.githubusercontent.com/u/43748223?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href

[2019-05-06 15:56] bencoman commented on #3304
cool, yes.

[2019-05-06 16:23] svenvc commented on #3302
But the reference inside FileList is already a FileReference, so the fix is to just ask the reference for its readStream

[2019-05-06 16:24] svenvc commented on #3304
But the reference inside FileList is already a FileReference, so the fix is to just ask the reference for its readStream

[2019-05-06 16:31] MarcusDenker commented on #3300
using #foo would override the value of a temp 'foo'... but I think we can use a name that is not a valid temp in these cases.

Why this code is duplicated in subclasses?

The problem is that InstanceVariableSlot overrides both the emit* methods, so this means that the reflective methods are not called (as they are if you subclass Slot or IndexedSlot).

I think we should not allow subclassing Insta

[2019-05-06 16:32] MarcusDenker commented on #3300
But it is better, as the current scheme to copy emitStore:  from Slot means that #isWrittenIn: will not be correct.

[2019-05-06 16:34] bencoman opened #3306 "Facilitate Pharo 8 FastTable cell extensions load in Pharo 7"
I'm working on a project in Pharo 7 that I'd like to do cell operations with FastTable.
With two small cleanups, Pharo 8 FastTable that has been extended wit cell operations can be FiledOut and loaded into Pharo 7 with all tests green. PR incoming.

[2019-05-06 16:36] jecisc commented on #3306
At some point I was thinking about creating a FastTable-Compitibility project loadable in Pharo7.
I did not do it because I did not had time. But if you need it, maybe we can do it. It should be pretty easy because I tried to add deprecation transformations for all changes in the API and I think nothing should break old behavior (or not much)

[2019-05-06 16:44] MarcusDenker opened #3307 "Tabs in Calypso seems to not work anymore"
In my image I can not switch to the class comment view... need to double check latest image

[2019-05-06 17:06] bencoman commented on #3306
I had a PR to submit but my Pharo 8 Iceberg hit a UI bug for a **remotes** droplist selection.
Here are the only two changes I needed so a Pharo 8 FileOut of the three FastTable packages
cleanly load and run in Pharo 7...
[code]
@jecisc Could you apply these?

[2019-05-06 17:49] dionisiydk commented on #3307
Sorry guys. It's my fault.
Please revert latest Calypso integration.

Problem  that #doubleClick handler for tab label disables clicks on the tab.
I will try to find how to fix it

[2019-05-06 18:29] dionisiydk commented on #3307
I did a fix https://github.com/pharo-project/pharo/pull/3308

[2019-05-07 08:03] MarcusDenker commented on #3300
I think this will improve quite a lot when we provide general Slot composition: most subclasses will then be Wrappers or Decorators for slots...

I will fix the temp vars and add some ducumentation for now

[2019-05-07 08:26] Ducasse opened #3310 "withSqueakLineEndings should be renamed convertAllLineEndingsToCR"

[2019-05-07 08:30] #3307 closed, assigned to nobody

[2019-05-07 09:01] CafeKrem opened #3311 "[Calypso] click on tab do nothing"
when i want to click on tab (Comment , Class information or creat a Method ) nothing append.

my image come from
pharo contribute jenkins >> newTools >> lastBuild >> pharo 8
this problem do not exist in
Official distributions >> pharo 8 64 bit

Image
-----
/Users/clement/Documents/Pharo/images/NewTools-23/NewTools-23.image
Pharo8.0.0
Build information: Pharo-8.0.0+build.256.sha.a614a9be3d84d729048

[2019-05-07 09:46] MarcusDenker commented on #3311
This should be fixed in the very very latest version

[2019-05-07 10:42] #3300 closed, assigned to MarcusDenker

[2019-05-07 11:10] estebanlm opened #3312 "KMKeymap>>#notifyPartialMatchTo: leads to an error"
[code]

If aListener is not a collection, then we will have an error.

[2019-05-07 11:10] MarcusDenker commented on #3311
double checked: it is fixed in the latest download. see #3307

[2019-05-07 11:10] #3311 closed, assigned to nobody

[2019-05-07 11:17] CafeKrem commented on #3311
sorry i will be carefull.

[2019-05-07 13:23] StephanEggermont opened #3315 "Typo RParseTreeSearcher -> RBParseTreeSearcher"
in the helptext.
Fixed by #3314

[2019-05-08 07:11] MarcusDenker commented on #3315
was merged

[2019-05-08 07:11] #3315 closed, assigned to nobody

[2019-05-08 07:12] MarcusDenker opened #3316 "Slots: more tests, improve comments, improve Initialized slots"
- ClassBuilder: do not call layoutChanged: as we call #installingIn: already
- Typos
- add tests for ProcessLocalSlot
- more tests for ExampleSlotWithDefaultValue
- comment AbstractInitializedSlot
- support blocks for Initialized Slots
- LazySlot: assign default in first read
- Improved class comment Slot
- ExampleSlotWithDefaultValue renamed to InitializedSlot

[2019-05-08 09:05] #3316 closed, assigned to nobody

[2019-05-09 09:03] juliendelplanque opened #3319 "BlockClosure>>#storeOn: does infinite recursion"
To reproduce this bug:
[code]

Additionally, when it was working the `#storeString` of a BlockClosure was not printing as nicely as #printString (i.e. printing the code source).

Maybe we should discuss to:
1. Move `#printOn:` implementation to `#storeOn:` method.
2. Make `#printOn:` call `#storeOn:`

But we have to pay attention that normally `#storeOn:` should recreate a similar object but when

[2019-05-09 09:38] #2598 closed, assigned to nobody

[2019-05-09 11:15] #2261 closed, assigned to estebanlm

[2019-05-09 13:56] MarcusDenker opened #3320 "Improve HistorySlot and other small fixes"
- add two tests for HistorySlot related to adding  slots to existing instances (green!)
- add #rawRead: like the Spec Slot to start to use the same vocabulary
- use #rawRead: instead of super read:
- add #emitValue: for speed. (no emitStore yet)
- simplify usesSpecialVariables
- simplify definitionForNautilus
- useFullDefinitions --> needsFullDefinition

[2019-05-09 16:27] Ducasse opened #3322 "Harvesting Nicolas's speedup"
http://smallissimo.blogspot.com/2019/05/accelerating-large-integer-arithmetic.html

[2019-05-09 16:27] Ducasse opened #3323 "traits definition message should use package: instead of category:"

[2019-05-09 18:37] Ducasse opened #3324 "Calypso senders should not DNU :(!!!"
when you type some text and your cursor is at the end for example

traits:uses:|

pressing Cmd N -> DNU

First the previous text should be selected: and second it should not raise a DNU

Stef

[2019-05-09 18:40] Ducasse commented on #3323
why

named: aSymbol
	^ self named: aSymbol uses: {} category: 'Unclassified'

is not

named: aSymbol
	^ self named: aSymbol uses: {} category: '_UnpackagedPackage'

[2019-05-09 18:50] jecisc commented on #3323
Isn't "Unclassified" the default *tag*?

[2019-05-09 18:58] Ducasse commented on #3323
I started to clean some tests to avoid using category when it meant tag

[2019-05-09 19:04] Ducasse opened #3325 "ClyClassDefinitionEditorToolMorph contains dead code"
selectVariableNamed: aString
	| classDefinition varNode |
	classDefinition := self parseClassDefinition.
	varNode := classDefinition children
		detect: [ :each | each isVariable and: [each name = aString]]
		ifNone: [ ^self ].
	self selectSourceNode: varNode

parseClassDefinition is undefined!

[2019-05-09 19:08] dionisiydk commented on #3325
It is for class parser integration

чт, 9 мая 2019 г., 20:04 StéphaneDucasse <notifications@github.com>:

[2019-05-09 19:49] Ducasse opened #3326 "Changing Trait definition template lead to the fact that we cannot remove the Trait!"
I modified

Trait >> definition

	(self instanceSide name == #Trait) ifTrue: [ ^ super definition ].

	^ String streamContents: [ :s |
		s
			nextPutAll: 'Trait named: ';
			nextPutAll:	self name printString;
			cr; tab;
			nextPutAll: ' uses: ';
			nextPutAll: self traitComposition traitCompositionExpression;
			cr.
		self classLayout visibleSlots ifNotEmpty: [
			s tab; nextPutAll: ' slots: ';

[2019-05-09 20:11] Ducasse commented on #3323
I do not know in fact.
This is why I raised the question.

[2019-05-09 20:50] j-brant opened #3328 "SubclassResponsibility error when running RBParser>>parseFaultyMethod:"
Evaluating `RBParser parseFaultyMethod: 'a <b:'` causes a subclass responsibility error in RBToken>>length. This occurs with the current 8.0 build (2d7cce651c440f89dcaa83abf32cb1ad7b49ea86) and also with the current 7.0 build (0903ade8a6c96633f07e0a7f1baa9a5d48cfdf55).

[2019-05-10 05:37] Ducasse commented on #3326
This is strange because

RBParser parseExpression:  'Trait named: #TTraitTraitTrait
	 uses: {}
	 package: ''Announcements-Help'''

parse well.

[2019-05-10 05:49] Ducasse commented on #3326
The problem is more in the fact that the change do not match anymore.
I'm investigating it.

RBRefactoryDefinitionChange allSubclassesDo: [ :class |
		class definitionPatterns do: [ :pattern |
			((RBParser parseRewriteExpression: pattern) match: parseTree inContext: context empty)
			 	ifTrue: [ ^ class definition: aString for: aController context: context ] ] ].
	^ self error: 'Invalid definitio

[2019-05-10 08:20] #3328 closed, assigned to nobody

[2019-05-10 08:40] Ducasse commented on #3326
Close since I will reissue it in the old issue.

[2019-05-10 08:40] #3326 closed, assigned to nobody

[2019-05-10 11:10] pavel-krivanek opened #3332 "New package committed by Iceberg is always dirty"
If you create a new package, add it into a repository and commit it, it is still marked as "dirty" in Calypso. The package responds on #isDirty with true. That's probably because the committing in Iceberg does not create a version known to Monticello (the package has no version in MC Browser) so it is supposed to be not saved.

[2019-05-10 13:56] cdlm opened #3333 "Test Runner history menu is broken"
1. Open test Runner,
2. run some tests,
3. right click in the test result bar, pick any of the history/progress options of that menu

💥 `instance of RubTextEditor DNU #showHistoryMenu / #storeResultIntoTestCases / #showProgress`

[2019-05-10 18:17] dionisiydk commented on #3324
I can't reproduce it

чт, 9 мая 2019 г. в 19:37, StéphaneDucasse <notifications@github.com>:

[2019-05-10 18:43] #3312 closed, assigned to nobody

[2019-05-10 18:44] Ducasse commented on #3333
Yes we will throw it away.

[2019-05-10 18:46] Ducasse commented on #3324
Thanks for checking it. I downloading and checking it.

[2019-05-10 18:49] Ducasse commented on #3324
I took the latest version I could not reproduce it. I tried all the panes.
I saw that now we do not have select the line to do Browse and this is really cool.
Tx!

So I close the issue. I have no idea how I broke the system

[2019-05-10 18:49] #3324 closed, assigned to nobody

[2019-05-10 19:03] dionisiydk opened #3334 "Character cr isLineSeparator ==> false"
I am not sure if it should true according to Unicode. But it looks strange:
[code]

[2019-05-11 19:10] #3265 closed, assigned to nobody

[2019-05-12 01:21] bencoman commented on #3242
I also previously have thought this could be streamlined by skipping "step to choose protocol"
but I'm thinking it could be really useful to auto-categorize extension methods.
e.g... help ```2 myMethod``` end up in my application package.

[2019-05-12 07:19] #3320 closed, assigned to nobody

[2019-05-12 14:13] psteeve commented on #2184
@Ducasse Hi, this issue should be closed i think.

[2019-05-12 14:16] psteeve commented on #2275
@Ducasse this should be closed i think.

[2019-05-12 19:37] #3323 closed, assigned to Ducasse

[2019-05-13 09:22] MarcusDenker opened #3338 "Slots: #isSpecial cleanup part 2"
- rename #usesSpecialVariables-> #needsSlotClassDefinition
- rename #usesSpecialSlot -> slotsNeedFullDefinition
- rename #usesSpecialClassVariables -> classVariablesNeedFullDefinition

in addition:

- simplify #=>
- remove dead code: #asValidInstVarName

[2019-05-13 15:26] jecisc opened #3341 "Begin to split tests linked to Halt in Kernel"
I did a PR to remove Halt from the kernel but it makes the bootstrap fail. I'll do a smaller PR to begin the changes. It will include separation of Kernel tests and Halt tests. It should help me to localise the root of the problem.

[2019-05-13 15:35] guillep opened #3342 "Integrate Iceberg 1.7.0"
https://github.com/pharo-vcs/iceberg/releases/tag/v1.7.0

# Bugfixes

#1233 Using Tonel 1.0.14
#1225 P7: Using merge use incoming gives walkback: doesNotUnderstand: #visitConflictingOperation: IceConflictingOperation>>accept:
#1229 P7: Merging my branch to master gives: "Instance of IceGitWorkingCopyUpdateVisitor did not understand #remoteFileReferenceInPath:"
#1231 Failing tests due to removal of

[2019-05-14 04:55] bencoman commented on #3341
A had considered Halt to be quite intrinsic to the system.  I'm curious what the driver is for removing Halt.

[2019-05-14 05:18] estebanlm commented on #2224
@theseion What's the status of this?

[2019-05-14 05:22] estebanlm commented on #2228
@theseion what's the issue here? I fail to understand.

[2019-05-14 05:38] theseion commented on #2224
The PR was integrated but neither Juraj nor Doru ever got back to me. I assume everyone's happy :)
Let's close the issue. I'm sure someone will open another one if they think something's wrong.

[2019-05-14 05:38] #2224 closed, assigned to nobody

[2019-05-14 05:40] theseion commented on #2228
I'd have to check whether this still happens with current builds but am pretty sure that it will still be an issue for Pharo 6 (there's not much we can do for Pharo 6 anyway I think).

[2019-05-14 06:44] pavel-krivanek opened #3345 "methods and protocols selection needs confusing extra clicks"
in Calypso, if you have selected method or protocol, the next click that changes focus to this list removes the selection. That causes the need for extra clicks:

1) you have a selected protocol and a selected method with a focus on the methods pane
2) the next click on the protocol deselects it, a message template for a new method without assigned protocol is displayed
3) click on a protocol sele

[2019-05-14 09:13] MarcusDenker commented on #3115
it seems the code was not merged?

[2019-05-14 09:14] MarcusDenker commented on #3115
ah, different PR was merged

[2019-05-14 09:14] #3115 closed, assigned to nobody

[2019-05-14 10:00] khinsen opened #3347 "`(ProtoObject >> #==) senders` yields many false positives"
On a freshly downloaded Pharo 8.0 image, `(ProtoObject >> #==) senders` yields more than 10.000 methods. Most of them do not use `==`. Searching for senders in Calypso only shows 9.000 methods (for reasons that I don't understand), but most are also false positives.

Many of the falsely found methods use `ifNil:` and/or `ifNotNil:`, so I suspect that the compiler somehow optimizes these methods in

[2019-05-14 10:05] khinsen commented on #3147
Well... In the scenario that led to me opening this issue, I had a class with eight non-trivial methods. Then I decided that this class would be more useful as a trait. So what am I supposed to do to get a trait containing these eight methods? Copy them one by one to a freshly created trait under a new name? That's a bit archaic.

[2019-05-14 10:23] jecisc commented on #3341
Hi Ben!
The goal is not to remove halt from the system but from the Kernel package to move it in debugging packages.

Currently, the Halt implementation have dependencies on other packages that Kernel should not have. For example, Halt depend on the compiler, but at the beginning of the Bootstrap the compiler is not loaded with the Kernel and the Kernel package should work.

The long terme idea fo

[2019-05-14 12:22] #2272 closed, assigned to nobody

[2019-05-14 12:45] bencoman commented on #3341
got it. thx.

[2019-05-14 13:10] MarcusDenker commented on #3347
yes, smalltalk uses a low level model as the language meta model... I think we should think about using a higher level model...

Workaround: we could filter all these cases in addition using the AST model. Or add meta-data at compile time...

[2019-05-14 14:23] bencoman commented on #3345
I second that motion :)
I got used to it but its still annoying.

[2019-05-14 15:26] myroslavarm commented on #3287
aTrait isClass should (and does) give false, whereas Trait isClass should (and does) give true. I think this issue should be closed.

[2019-05-14 15:32] myroslavarm opened #3349 "refactor to remove #not in method #hasSubclasses"
currently the method #hasSubclasses is implemented as follows:

hasSubclasses
	^ self subclasses isEmpty not

this way of defining it is not ideal

[2019-05-14 17:04] myroslavarm commented on #3349
#3350 created a pull request

[2019-05-14 17:08] myroslavarm opened #3351 "delete the two methods canZapMethodDictionary"
on the instance side and on the class side; there's no use for them

p.s. related to #2740 ?

[2019-05-14 17:12] myroslavarm commented on #3351
#3352 created a pull request

[2019-05-14 20:38] #3342 closed, assigned to nobody

[2019-05-14 20:42] Ducasse commented on #3349
I do not get why this definition would be bad.
Your solution is worse

Class >> hasSubclasses [
 	^ (self subclasses isEmpty)
 			ifTrue: [ false]
 			ifFalse: [ true ]

This is not good. Especially because not should be used instead!

[2019-05-14 21:37] macta opened #3353 "Running Critic with a Manifest containing an obsolete class ref gives walkback"
Issue reported by an Exercism user - we had a critic Manifest file that had a reference to a no-longer exsiting class. The trouble is that this seems to break the Calypso browser as it keeps giving a walkback when its trying to show you warnings in the lower browser pane when you click on a package or class.

(this can be found loading:
[code]
You get the following walkback (as the Manifest had a

[2019-05-14 22:58] dionisiydk commented on #3345
I think I agree with you. I did not feel in used to it after long time. When you deselect protocol the tab with method is still here but not selected. And to select it again the habit wants to select the method instead of tab and here the workflow breaks.

The story about this feature is to have similar behaviour as with single pane (no tabs) browser and in same time keep "restore selection" behav

[2019-05-15 08:46] pavel-krivanek commented on #3345
Maybe it is more Morphic/FastTable related issue. The first click on the selected item going from another focus should be ignored.

[2019-05-15 09:49] ghost opened #3354 "Running crititz on equality and hash function gives a message"
Hello,

When I use the extra -> generate equal and hash this code is made

[code]

but when running critiz gives this message:

![afbeelding](https://user-images.githubusercontent.com/47429430/57766238-4e153580-7707-11e9-9e9d-7a2d831a50ee.png)

this one is also tracked here : https://github.com/exercism/pharo-smalltalk/issues/341

where we concluded it is a pharo problem not a exercism problem

[2019-05-15 12:24] dionisiydk commented on #3345
ср, 15 мая 2019 г., 9:46 Pavel Krivanek <notifications@github.com>:

It will not fix your scenario. If selection will not change then tabs
selection will not change either. And method tab will be not shown.

[2019-05-15 14:11] #3338 closed, assigned to nobody

[2019-05-15 15:15] MarcusDenker commented on #3354
I really do not like this rule. For me methods with early returns are *much* faster to read then if it would be one huge nested boolean expression.

I would like to propose to delete the rule

[2019-05-15 15:34] bencoman commented on #3354
I agree.  Early returns mean you don't have to hold the logic structure in
your mind to track where the block drops out. Less coupling between
conditions and less cognitive load.

[2019-05-15 20:33] Ducasse commented on #3354
Dont delete it just cancel it. One day we should support profile because we remove rules that us experts to not like but newbies make incredible mistakes you would not believe it.

[2019-05-16 18:13] #3341 closed, assigned to nobody

[2019-05-16 18:19] Ducasse opened #3355 "Strange logic in RBFactoryChangeManager"
RBFactoryChangeManager is a singleton but
it creates a factory instance (which is essentially stateless)

changeFactory
	^ RBRefactoryChangeFactory new

[2019-05-16 18:36] Ducasse commented on #3355
The funny things is that class is pointing to this changing instance???

RBFactoryChangeFactory class >> instance
	^ RBRefactoryChangeManager instance changeFactory

[2019-05-16 18:54] Ducasse commented on #3355
For now I just added an instance variable and initialize it and return it.

[2019-05-16 18:56] Ducasse opened #3356 "In RBFactoryChange, all methods should use changefactory instance variable instead of accessing the singleton"
In RBFactoryChange, all methods should use changefactory instance variable instead of accessing the singleton. Looks obvious but it was apparently not.

[2019-05-16 19:13] Ducasse opened #3358 "Why do we have RBRefactoryChangeManager and RBRefactoringManager???"
which is basically doing

RBRefactoringManager >> addRefactoring: aRefactoring
	RBRefactoryChangeManager instance performChange: aRefactoring changes.
	refactorings add: aRefactoring class name

and of course is yet another singleton...

[2019-05-16 19:28] Ducasse opened #3360 "RecentMessageList does not seem to receive events"

[2019-05-16 19:30] Ducasse commented on #3360
But I cannot spot why. because

class side >> initialize
	"Once loaded the recent message is active.
	Decided not to use the startUp to be able to keep the list over snapshots."
	"self initialize"

	self startReceivingNotifications

class side >> startReceivingNotifications
	"self startReceivingNotifications"

	self resetUniqueInstance.
	"to force the iniatialize again since it is the initialize t

[2019-05-16 19:34] Ducasse commented on #3358
Because change is about change and refactoring about refactoring.
Now this is super strange since RBRefactoringManager has only three methods:

printOn: aStream
	aStream nextPutAll: '#		Refactoring';
		cr;
		nextPutAll: '---		-----------------------------------------------';
		cr.
	refactorings asSet asSortedCollection do:
			[:name |
			aStream nextPutAll: (refactorings occurrencesOf: name) print

[2019-05-16 19:39] Ducasse commented on #3358
In addition this logic is terrible.

addRefactoring: aRefactoring
        RBRefactoryChangeManager instance performChange: aRefactoring changes.
        refactorings add: aRefactoring class name

I cannot believe that addRefactoring actually perform it!!!! aghhhhh

[2019-05-16 19:40] #3355 closed, assigned to nobody

[2019-05-16 19:50] Ducasse commented on #3176
removeProtocolNamed: aString in: aClass
	self flag: #todo.
	"This change is not made via the changefactory!!!"
	^ self addChange: (RBRemoveProtocolChange removeProtocolNamed: aString in: aClass)

[2019-05-16 19:50] Ducasse commented on #3176
selector: aSelector in: aClass classified: aProtocol
	self flag: #todo.
	"This change is not made via the changefactory!!!"
	^ self addChange: (RBMethodProtocolChange
							selector: aSelector
							in: aClass
							classified: aProtocol)

[2019-05-16 19:52] Ducasse commented on #3175
changeClass
	| class |
	class := Smalltalk globals at: self changeClassName ifAbsent: [ ^ nil ].
	^ isMeta ifTrue: [ class class ] ifFalse: [ class ]

[2019-05-16 19:53] Ducasse commented on #3176
addNewVariable
	(RBAddClassVariableChange add: newName to: self changeClass)
		execute

should use instead
the factory addClassVariable: variableName to: aClass

[2019-05-16 19:56] Ducasse commented on #3176
same here
removeOldVariable
	self flag: #todo.
	"We should use the factory"
	(RBRemoveClassVariableChange remove: oldName from: self changeClass)
		execute

[2019-05-16 19:59] PharoProject commented on #3360
Probably #initialize has to be called explicitly from a baseline's
postload. At bootstrap time some baselines have automatic execution of
#initialize disabled to be able to control the order in which they are
executed.

Le jeu. 16 mai 2019 à 21:30, StéphaneDucasse <notifications@github.com> a
écrit :

--

Guille Polito

Research Engineer

Centre de Recherche en Informatique, Signal et Automatique

[2019-05-16 20:04] jecisc opened #3361 "Process should not depend on Halt"
The second step to repackage Halt. Kernel classes should not depend on Halt. Currently, `Process` depends on it.

[2019-05-16 20:08] Ducasse opened #3362 "RBClassModelFactory rbClass should be pushed to instance side"
so that we can avoid hardcoding everywhere the RBClassModelFactory.
The same should be done for rbNamespace, rbMethod and rbMetaclass.

In addition RBClassModelFactory should be renamed RBModelFactory.

[2019-05-16 20:28] Ducasse opened #3364 "Impossible to add a protocol when the class is empty"
We cannot get any menu.
![Screen Shot 2019-05-16 at 22 27 55](https://user-images.githubusercontent.com/432549/57884868-f7ece300-7829-11e9-8773-ded8becbb0e1.png)

We are forced to add a method and only then the protocol appears!!!

[2019-05-16 20:56] dionisiydk commented on #3364
Do you mean that context menu can't be opened?

Probably it's related to some  table morph changes. Now it does not open
context menu using click on empty space.
I checked Pharo7 and it works fine.

чт, 16 мая 2019 г. в 21:28, StéphaneDucasse <notifications@github.com>:

[2019-05-16 20:58] dionisiydk commented on #3364
Seems empty space in table does not handle clicks at all. It does not reset
selection for example

чт, 16 мая 2019 г. в 21:56, Denis Kudriashov <dionisiydk@gmail.com>:

[2019-05-16 21:03] dionisiydk commented on #3364
You can check empty space click using FTExamples
class>>#exampleTreeWithAllItemsFilter in Pharo 8 and Pharo 7.

чт, 16 мая 2019 г. в 21:57, Denis Kudriashov <dionisiydk@gmail.com>:

[2019-05-16 21:16] dionisiydk commented on #3287
Ok. Better confusion example:
[code]
What explanation will be for this logic? It would be nice to put it in the comment for #isClass method if you will decide to perform this change.

[2019-05-17 12:35] #3361 closed, assigned to nobody

[2019-05-17 12:47] #3349 closed, assigned to nobody

[2019-05-17 13:03] MarcusDenker opened #3366 "Do not run testNoDeadWeakSubscriptions/testNoDeadSubscriptions"
testNoDeadWeakSubscriptions/testNoDeadSubscriptions are failing quite often. This is known, there is an issue tracker entry.

Now when checking PRs, we never have a successful test run because these two tests are failing.

I propose to make skip the on the CI for now, as the impact to everything else we do it very high...

[2019-05-17 13:16] MarcusDenker commented on #3366
see #2471

[2019-05-17 13:30] jecisc opened #3368 "Move Halt tests out of Kernel tests"
Next step to remove Halt from Kernel is to move the tests out of the Kernel tests and move them with debugging packages.

[2019-05-17 13:49] jecisc opened #3369 "Context should not depend on Halt"
I removed the direct dependencies on Halt in the Kernel, but we still have (at least) one in the packages of the Bootstrap. I'll propose a PR to remove this dependency.

Long term goal is to remove Halt from the bootstrap since it relies on a compiler that is not present at that time. (And debugging utilities should probably not be in the bootstrap)

[2019-05-17 14:08] jecisc opened #3371 "Emergency evaluator while debugging some code"
In a playground I tried to debug this code:

[code]

And in the debuggeur I only did step through all the time. After a while (when I go on the halt) I get an emergency evaluator.

It happens in Pharo 8.

[2019-05-17 14:17] 570gina commented on #3364
I can click on the "instance side" to get the menu. (in Pharo 8)
![image](https://user-images.githubusercontent.com/24423847/57934115-38e30700-78bf-11e9-8b22-c93e611a8a44.png)

[2019-05-17 14:18] juliendelplanque opened #3373 "Integrate SUnit visitor"
SUnit-Visitor has been implemented some times ago and it allows to reuse visit logic of SUnit.

After a discussion with Steph, Guille and Damien we think it should be integrated.

Actual repository: https://github.com/juliendelplanque/SUnit-Visitor

[2019-05-17 15:52] #3368 closed, assigned to nobody

[2019-05-18 15:57] #3356 closed, assigned to nobody

[2019-05-19 13:31] Ducasse opened #3375 "should clean formatting of some trait tests"
[code]
=>

[code]

[2019-05-19 20:16] Ducasse opened #3376 "Reducing the amount of hardcoded reference to RBParser!!!"
Let us start relying less on classes and more on messages and API!

[2019-05-19 20:26] Ducasse commented on #3371
Thanks Cyril.

[2019-05-19 20:35] Ducasse opened #3377 "RBRefactoryChangeManager changeFactory should be nil"
I probably broke it.
There was no test covering it. So I will start adding a test.
And this logic around ChangeManager and Factory **is** strange. No

[2019-05-19 20:37] Ducasse commented on #3358
RBRefactoring is then doing
execute
	self primitiveExecute.
	RBRefactoringManager instance addRefactoring: self

To me in that case a refactoring should have a refs to the RBRefactoryChangeManager instance and we get rid of this man in the middle (RBRfactoringManager).
What ugly code.

[2019-05-19 20:46] Ducasse commented on #3377
The problem is that I did not reset the singleton. I added a nuke in the test and my test pass but it is not super nice. What I do not get is that the class side method initialize.

initialize
	self nuke.
	UndoSize := 20

nuke
	Instance notNil ifTrue: [ Instance release ].
	Instance := nil

So normally the singleton should be nilled and should invoke the instance initialization method.

[2019-05-20 18:28] #3369 closed, assigned to nobody

[2019-05-20 23:18] tinchodias opened #3379 "Hiedra: Migrate example to current Spec"
It raises errors since Spec2 was integrated.

[2019-05-21 08:55] #3310 closed, assigned to nobody

[2019-05-21 09:17] estebanlm opened #3381 "Morph>>#handlesMouseMove: does not works if using an event handler"
for some reason `Morph>>#handlesMouseMove:` has commented the verification of event handling (and its commented implementation is buggy).